{% extends 'administrator/base.html' %}
{% load static %}

{% block 'content' %}
<div class="col-lg-12">
  <h5>Designation</h5>
  <hr>
</div>
<div class="col-md-12">
  <div class="card mb-2">
    <div class="card-header p-0 border border-success">
      <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-regular-tab" data-toggle="pill" href="#pills-regular" role="tab" aria-controls="pills-regular" aria-selected="true"><i class="feather icon-file m-r-5"></i> Designated</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contractual-tab" data-toggle="pill" href="#pills-contractual" role="tab" aria-controls="pills-contractual" aria-selected="false"><i class="feather icon-file m-r-5"></i> Contractual</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-regular" role="tabpanel" aria-labelledby="pills-regular-tab">
      <div class="card">
        <div class="card-header p-2">
          <table>
            <tr>
              <td>Filter</td>
              <td>
                <select class="form-control" name="filter_designated" id="filter_designated">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </td>
            </tr>
          </table>
          <div class="card-header-right">
            <table>
              <tr>
                <td>
                  <input type="text" class="form-control float-right mr-1" placeholder="Search...." name="search_designated" id="search_designated" value="">
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-hover m-b-0">
            <thead>
              <tr>
                <th style="white-space:nowrap;width:1%;">#</th>
                <th style="white-space:nowrap;width:20%;">Name</th>
                <th>Position</th>
                <th style="white-space:nowrap;width:200px;">Status</th>
                <th style="white-space:nowrap;width:1%;">Inc</th>
                <th style="white-space:nowrap;width:10%;">Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="table-designated-ajax">
            </tbody>
          </table>
          <div class="card-footer p-2" id="counter_designated">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-contractual" role="tabpanel" aria-labelledby="pills-contractual-tab">
      <div class="card">
        <div class="card-header p-2">
          <table>
            <tr>
              <td>Filter</td>
              <td>
                <select class="form-control" name="filter" id="filter_contractual">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </td>
            </tr>
          </table>
          <div class="card-header-right">
            <table>
              <tr>
                <td>
                  <input type="text" class="form-control float-right mr-1" placeholder="Search...." name="search_contractual" id="search_contractual" value="">
                </td>
                <td>
                  <a href="{% url 'designation_contractual_create' %}" type="button" class="btn btn-primary btn-sm" name="button"><i class="feather icon-user-plus mr-2"></i>New</a>
                </td>
                <td>
                  <a href="{% url 'print_contractual' %}" target="_blank" type="button" class="btn btn-secondary btn-sm" name="button"><i class="feather icon-printer mr-2"></i>Print Contract</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover m-b-0">
              <thead>
                <tr>
                  <th style="white-space:nowrap;width:1%;">#</th>
                  <th style="white-space:nowrap;width:25%;">Name</th>
                  <th>Position</th>
                  <th style="white-space:nowrap;width:200px;">Status</th>
                  <th style="white-space:nowrap;width:200px;">Department</th>
                  <th style="white-space:nowrap;width:10%;">Date Appointed</th>
                  <th style="white-space:nowrap;width:150px;">Action</th>
                </tr>
              </thead>
              <tbody id="table-contractual-ajax">
              </tbody>
            </table>
          </div>
          <div class="card-footer p-2" id="counter_contractual">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
  $(document).on('click', '.confirm-delete', function(){
    return confirm('Are you sure you want to remove this?');
  });
  function Designated(){
    var filter = $("#filter_designated").val();
    var search = $("#search_designated").val();
    $.ajax({
      url: '{% url 'api_designated' %}',
      type: 'get',
      data: {filter:filter,search:search},
      dataType: 'json',
      success:function(data){
        $('#counter_designated').html(data.counter + " record(s) found");
        $('#table-designated-ajax').html(data.profile_table);
      },
    });
  };
  $('#filter_designated').change(function() {
    Designated();
  });
  $('#search_designated').change(function() {
    Designated();
  });
  Designated();
  function Contractual(){
    var filter = $("#filter_contractual").val();
    var search = $("#search_contractual").val();
    $.ajax({
      url: '{% url 'api_contractual' %}',
      type: 'get',
      data: {filter:filter,search:search},
      dataType: 'json',
      success:function(data){
        $('#counter_contractual').html(data.counter + " record(s) found");
        $('#table-contractual-ajax').html(data.contractual_table);
      },
    });

  };
  $('#filter_contractual').change(function() {
    Contractual();
  });
  $('#search_contractual').change(function() {
    Contractual();
  });
  Contractual();

</script>

{% endblock %}
