<!-- order-card start -->
<div class="col-md-6 col-xl-3">
  <div class="card bg-c-blue order-card p-2">
    <div class="card-body">
      <h6 class="text-white">USERS</h6>
      <h2 class="text-right text-white"><i class="feather icon-users float-left"></i><span>{{total_users}}</span></h2>
      <p class="m-b-0">Total users register</p>
    </div>
  </div>
</div>
<div class="col-md-6 col-xl-3">
  <div class="card bg-c-green order-card p-2">
    <div class="card-body">
      <h6 class="text-white">DESIGNATED</h6>
      <h2 class="text-right text-white"><i class="feather icon-users float-left"></i><span>{{total_designates}}</span></h2>
      <p class="m-b-0">Total designated register</p>
    </div>
  </div>
</div>
<div class="col-md-6 col-xl-3">
  <div class="card bg-c-yellow order-card p-2">
    <div class="card-body">
      <h6 class="text-white">CONTRACTUAL</h6>
      <h2 class="text-right text-white"><i class="feather icon-users float-left"></i><span>{{total_contractual}}</span></h2>
      <p class="m-b-0">Total contractual register</p>
    </div>
  </div>
</div>
<div class="col-md-6 col-xl-3">
  <div class="card bg-c-red order-card p-2">
    <div class="card-body">
      <h6 class="text-white">RETIRABLES</h6>
      <h2 class="text-right text-white"><i class="feather icon-user-x float-left"></i><span>{{retirables}}</span></h2>
      <p class="m-b-0">Total retirables (designated)</p>
    </div>
  </div>
</div>
<!-- order-card end -->
