{% load crispy_forms_tags %}
{% load static %}
<div class="modal-header p-2">
  <h5 class="modal-title" >Land Description</h5>
</div>
<form method="POST" enctype="multipart/form-data" class="custom-form-farmer-parcel">
  <div class="modal-body p-2">
    {{landform|crispy}}
    <div id="farmer-parcel">
    </div>
  </div>
  <div class="modal-footer p-2">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-{{btn_name}}">{{btn_title}}</button>
  </div>
</form>
{% block 'script' %}


<script>
  $(document).ready(function () {
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };

    $(".custom-form-farmer-parcel").submit(function (event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('data-url'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(data){
          Toast.fire({
            type: data.message_type,
            title: data.message_title
          });
          $('#modal-show').modal('hide');
          SearchLoad();
        },
        error:function(error){
          Toast.fire({
            type: 'error',
            title: 'ERROR Connection Lost.'
          });
        },

      })
      return false;
    });

    $('#id_commodity').change(function() {
      LoadCommodity();
    });
    function LoadCommodity(){
      var commodity = $('#id_commodity').val();
      console.log(commodity);
      $.ajax({
        url: '{% url 'api_tips_person_detail_farmer_parcel_create' %}',
        data: {commodity:commodity,person_id:{{person_id}}},
        type: 'get',
        dataType: 'json',
        success:function(data){
          if (data.action){
            console.log(data);
            $('#farmer-parcel').html(data.action_html_form);
          }else{
            $('#farmer-parcel').empty();
          }
        },
      });

    };


  });

</script>
{% endblock %}
