{% load crispy_forms_tags %}

{% load static %}

<form method="POST" enctype="multipart/form-data" data-url="{% if is_Created %}{% url 'api_tips_person_create' %}{% else %}{% url 'api_tips_person_update' person.id %}{% endif %}" class="custom-form-tips-registration">
  {{person_form|crispy}}
  {{address_form|crispy}}
  <button type="submit" class="btn btn-{{btn_name}} mt-2">{{btn_title}}</button>
</form>

{% block 'script' %}
<script>
  $(document).ready(function () {
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };

    $(".custom-form-tips-registration").submit(function (event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('data-url'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(data){
          Toast.fire({
            type: data.message_type,
            title: data.message_title
          });
          if (data.url){
            window.location.href = data.url;
          }
        },
        error:function(error){
          Toast.fire({
            type: 'error',
            title: 'ERROR Connection Lost.'
          });
        },

      })
      return false;
    });
    $('#id_region').change(function() {
      Province();
      City_Municipality();
      Barangay();
    });
    function Province(){
      var region = $('#id_region').val();
      $.ajax({
        url: '{% url 'api_province' %}',
        data: {region:region},
        type: 'get',
        dataType: 'json',
        success:function(data){
          $('#id_province').html(data.province_data);
        },
      });

    };
    $('#id_province').change(function() {
      City_Municipality();
      Barangay();
    });
    function City_Municipality(){
      var province = $('#id_province').val();
      $.ajax({
        url: '{% url 'api_city_municipality' %}',
        data: {province:province},
        type: 'get',
        dataType: 'json',
        success:function(data){
          $('#id_city_municipality').html(data.city_municipality_data);
        },
      });

    };
    $('#id_city_municipality').change(function() {
      Barangay();
    });
    function Barangay(){
      var city_municipality = $('#id_city_municipality').val();
      $.ajax({
        url: '{% url 'api_barangay' %}',
        data: {city_municipality:city_municipality},
        type: 'get',
        dataType: 'json',
        success:function(data){
          $('#id_barangay').html(data.barangay_data);
        },
      });

    };
  });
</script>


{% endblock %}
