{% for p in profile %}
<tr>
  <td>{{forloop.counter}}</td>
  <td>{{p.actual_accomplishment__accomplishment__profile__surname|title}}, {{p.actual_accomplishment__accomplishment__profile__firstname|title}}</td>
  <td>{{p.total_avg|floatformat:2}}</td>
  <td>
    {% if p.total_avg > 4.59 %}
    <span class="badge badge-success">Outstanding</span>
    {% elif p.total_avg > 4.19 %}
    <span class="badge badge-success">Very Satisfactory</span>
    {% elif p.total_avg > 3.79 %}
    <span class="badge badge-success">Satisfactory</span>
    {% elif p.total_avg > 3.39 %}
    <span class="badge badge-warning">Unsatisfactory</span>
    {% elif p.total_avg >= 0 %}
    <span class="badge badge-danger">Poor</span>
    {% endif %}
  </td>
  <td>
    <button type="button" class="btn btn-secondary btn-sm" name="button">PRINT</button>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}

{% block 'script' %}
<script>
  $(document).on('click', '.form-show-add-indicator', function(){
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType:'json',
      beforeSend: function(){
        $('#modal-show').modal('show');
      },
      success: function(data){
        $('#modal-show .modal-content').html(data.html_form);
      }
    });
  });
</script>
<script>
  $(document).ready(function () {
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };

    $(".custom-form-delete-indicator").submit(function (event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('data-url'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(data){
          Toast.fire({
            type: data.message_type,
            title: data.message_title
          });
          Accomplishment_Indicator();
        },
        error:function(error){
          Toast.fire({
            type: 'error',
            title: 'ERROR Connection Lost.'
          });
        },

      })
      return false;
    });

  });

</script>
{% endblock %}
