{% extends 'tips/base.html' %}
{% load static %}
{% block 'tips_person_active' %}active{% endblock %}
{% block 'content' %}
<div class="col-md-12">
  <h5>Person</h5>
  <hr>
</div>
<div class="col-md-3">
  <div class="card mb-1">
    <div class="card-body">
      <div class="col-md-12 text-center">
        <img class="border border-success rounded-circle img-radius wid-100 hig-100" src="{{user.profile.image.url}}" width="100px" height="100px" alt="User-Profile-Image">
      </div>
      <hr>
      <p><i class="feather icon-users mr-2"></i>{{object.firstname|upper}} {{object.surname|upper}}<br></p>
      <p><i class="feather icon-tablet mr-2"></i>{% if user.mobile %}{{user.mobile}}{% else %}NOT AVAILABLE{% endif %}</p>
      <p><i class="feather icon-mail mr-2"></i>{% if user.permanent_address %}{{user.permanent_address|upper}}{% else %}NOT AVAILABLE{% endif %}</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'tips_person_update' object.id %}" type="button" class="btn-warning btn-sm" name="button"><i class="feather mr-2 icon-edit"></i>Update</a>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="card">
    <div class="card-body p-2">
      <h4>Recommended Assistance</h4>
    </div>
    <div class="card-header p-2">
      <table>
        <tr>
          <td>Filter</td>
          <td>
            <select class="form-control" name="filter_person_recommended_services" id="filter_person_recommended_services">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
          </td>
        </tr>
      </table>
      <div class="card-header-right">
        <table>
          <tr>
            <td>
              <button data-url="#" type="button" class="btn btn-primary btn-sm form-show-recommended-services-create" name="button">Add New</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover m-b-0">
          <thead>
            <tr>
              <th style="white-space:nowrap;width:1%;">#</th>
              <th>Services Assistance</th>
              <th>Specify</th>
              <th>Category/Sub Category</th>
              <th style="white-space:nowrap;width:5%">Amount</th>
              <th style="white-space:nowrap;width:5%">Mode</th>
              <th style="white-space:nowrap;width:5%">Action</th>
            </tr>
          </thead>
          <tbody id="table-person-recommended-services-ajax">
          </tbody>
        </table>
      </div>
      <div class="card-footer p-2" id="counter-person-recommended-services">
        25 records found
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-show" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}
{% block 'script' %}
<script>
  $(document).on('click', '.form-show-recommended-services-create', function(){
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType:'json',
      beforeSend: function(){
        $('#modal-show').modal('show');
      },
      success: function(data){
        $('#modal-show .modal-content').html(data.html_form);
      }
    });
  });
  $(document).ready(function () {
    SearchLoad();
    function SearchLoad(){
      var filter_person_recommended_services = $('#filter_person_recommended_services').val();
      console.log({{object.id}});
      $.ajax({
        url: '{% url 'tips_person_detail_recommended_services'  %}',
        data: {filter_person_recommended_services:filter_person_recommended_services,profile_id:{{object.id}}},
        type: 'get',
        dataType: 'json',
        success:function(data){
          console.log(data);
          $('#table-person-recommended-services-ajax').html(data.table_person_recommended_services);
          $('#counter-person-recommended-services').html(data.counter_person_recommended_services + " record(s) found");
        },
      });
    };
    $("#filter_person_recommended_services").change(function (event) {
      SearchLoad();
    });
  });
</script>
{% endblock %}
