{% extends 'tips/base.html' %}
{% load static %}

{% block 'content' %}
<div class="col-md-12">
  <h5>Person</h5>
  <hr>
</div>
<div class="col-md-12">
  <div class="card m-2">
    <div class="card-header p-2">
      <table>
        <tr>
          <td>SURNAME</td>
          <td class="ml-2"><input type="text" class="form-control float-right" name="search_person" id="search_person" value=""></td>
          <td>FIRSTNAME</td>
          <td class="ml-2"><input type="text" class="form-control float-right" name="search_person" id="search_person" value=""></td>
          <td><button data-url="#" type="button" class="btn btn-primary btn-sm form-show-new-person" name="button">SEARCH</button></td>
          <td>
            <select class="form-control" name="filter_person" id="filter_person">
              <option value="10">------</option>
            </select>
          </td>
          <td><a href="{% url 'tips_person_detail' %}" type="button" class="btn btn-secondary btn-sm form-show-new-person" name="button">LOAD RECORD</a></td>

        </tr>
      </table>
    </div>
  </div>
  <div class="card m-2">
    <div class="card-body p-2" id="tips-registration-forms">
      <h4>REGISTRATION FORMS</h4>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-show" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
  $(document).ready(function () {
    $.ajax({
      url: '{% url 'api_tips_person_create' %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#tips-registration-forms').html(data.html_form);
      },
    });
  });
  // function Department(){
  //   var filter = $("#filter_person").val();
  //   var search = $("#search_person").val();
  //
  //   $.ajax({
  //     url: '#',
  //     type: 'get',
  //     data: {filter:filter,search:search},
  //     dataType: 'json',
  //     success:function(data){
  //       $('#counter_person').html(data.counter + " record(s) found");
  //       $('#table-person-ajax').html(data.person_table);
  //     },
  //   });
  //
  // };
  // Department();
</script>

{% endblock %}
