{% extends 'main/base.html' %}
{% load static %}
{% block 'main_document_active' %}text-danger{% endblock %}
{% block 'content' %}
<!-- [ Main Content ] start -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header p-2">
        <table>
          <tr>
            <td>Filter</td>
            <td>
              <select class="form-control" name="filter-document" id="filter-document">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select>
            </td>
          </tr>
        </table>
        <div class="card-header-right">
          <table>
            <tr>
              <td>
                <input type="text" class="form-control float-right mr-1" placeholder="Search...." name="search-document" id="search-document" value="">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table border table-hover">
            <thead>
              <tr>
                <th style="white-space:nowrap;width:1%;">#</th>
                <th>Name</th>
                <th style="white-space:nowrap;width:5%;">Action</th>
              </tr>
            </thead>
            <tbody id="table-document-ajax">
            </tbody>
          </table>
        </div>
        <div class="card-footer p-2" id="counter-document">
        </div>
      </div>
    </div>
  </div>
    <!-- [ horizontal-layout ] end -->
</div>
<!-- [ Main Content ] end -->

<!-- /.content -->
<div class="modal fade" id="modal-show" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

{% endblock %}

{% block 'script' %}
<script>
  function Document(){
    var filter = $("#filter-document").val();
    var search = $("#search-document").val();

    $.ajax({
      url: '{% url 'api_main_document' %}',
      type: 'get',
      data: {filter:filter,search:search},
      dataType: 'json',
      success:function(data){
        $('#counter-document').html(data.counter + " record(s) found");
        $('#table-document-ajax').html(data.document_table);
      },
    });

  };
  $('#filter-document').change(function() {
    Document();
  });
  $('#search-document').change(function() {
    Document();
  });
  Document();

</script>

{% endblock %}
