
{% extends 'main/base.html' %}
{% load static %}

{% block 'content' %}
<!-- [ Main Content ] start -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-3">Personal Information</h5>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <li><a class="nav-link text-left active" id="v-pills-basic-info-tab" data-toggle="pill" href="#v-pills-basic-info" role="tab" aria-controls="v-pills-basic-info" aria-selected="true">Basic Information</a></li>
              <li><a class="nav-link text-left" id="v-pills-family-background-tab" data-toggle="pill" href="#v-pills-family-background" role="tab" aria-controls="v-pills-family-background" aria-selected="false">Family Background</a></li>
              <li><a class="nav-link text-left" id="v-pills-children-tab" data-toggle="pill" href="#v-pills-children" role="tab" aria-controls="v-pills-children" aria-selected="false">Children</a></li>
              <li><a class="nav-link text-left" id="v-pills-educational-background-tab" data-toggle="pill" href="#v-pills-educational-background" role="tab" aria-controls="v-pills-educational-background" aria-selected="false">Educational Background</a></li>
              <li><a class="nav-link text-left" id="v-pills-eligibility-tab" data-toggle="pill" href="#v-pills-eligibility" role="tab" aria-controls="v-pills-eligibility" aria-selected="false">Eligibility</a></li>
              <li><a class="nav-link text-left" id="v-pills-work-experience-tab" data-toggle="pill" href="#v-pills-work-experience" role="tab" aria-controls="v-pills-work-experience" aria-selected="false">Work Experience</a></li>
              <li><a class="nav-link text-left" id="v-pills-voluntary-work-tab" data-toggle="pill" href="#v-pills-voluntary-work" role="tab" aria-controls="v-pills-voluntary-work" aria-selected="false">Voluntary Work</a></li>
              <li><a class="nav-link text-left" id="v-pills-learning-development-tab" data-toggle="pill" href="#v-pills-learning-development" role="tab" aria-controls="v-pills-learning-development" aria-selected="false">Trainings</a></li>
              <li><a class="nav-link text-left" id="v-pills-others-tab" data-toggle="pill" href="#v-pills-others" role="tab" aria-controls="v-pills-others" aria-selected="false">Other Related Info</a></li>
              <li><a class="nav-link text-left" id="v-pills-others-tab" data-toggle="pill" href="#v-pills-others" role="tab" aria-controls="v-pills-others" aria-selected="false">References</a></li>
              <hr>
              <li><a class="nav-link text-left" id="v-pills-educational-background-tab" data-toggle="pill" href="#v-pills-educational-background" role="tab" aria-controls="v-pills-educational-background" aria-selected="false">Real Properties</a></li>
              <li><a class="nav-link text-left" id="v-pills-educational-background-tab" data-toggle="pill" href="#v-pills-educational-background" role="tab" aria-controls="v-pills-educational-background" aria-selected="false">Personal Properties</a></li>
              <li><a class="nav-link text-left" id="v-pills-educational-background-tab" data-toggle="pill" href="#v-pills-educational-background" role="tab" aria-controls="v-pills-educational-background" aria-selected="false">Liabilities</a></li>

            </ul>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade active show" id="v-pills-basic-info" role="tabpanel" aria-labelledby="v-pills-basic-info-tab">
                <!-- Profile Basic Info -->
              </div>
              <div class="tab-pane fade" id="v-pills-family-background" role="tabpanel" aria-labelledby="v-pills-family-background-tab">
                <!-- Family Background -->
              </div>
              <div class="tab-pane fade" id="v-pills-children" role="tabpanel" aria-labelledby="v-pills-children-tab">
                <!-- Children -->
              </div>
              <div class="tab-pane fade" id="v-pills-educational-background" role="tabpanel" aria-labelledby="v-pills-educational-background-tab">
                <!-- Educational Background -->
              </div>
              <div class="tab-pane fade" id="v-pills-eligibility" role="tabpanel" aria-labelledby="v-pills-eligibility-tab">
                <!-- Eligibility -->
              </div>
              <div class="tab-pane fade" id="v-pills-work-experience" role="tabpanel" aria-labelledby="v-pills-work-experience-tab">
                <!-- Work Experience -->
              </div>
              <div class="tab-pane fade" id="v-pills-voluntary-work" role="tabpanel" aria-labelledby="v-pills-voluntary-work-tab">
                <!-- Voluntary Work -->
              </div>
              <div class="tab-pane fade" id="v-pills-learning-development" role="tabpanel" aria-labelledby="v-pills-learning-development-tab">
                <!-- Voluntary Work -->
              </div>
              <div class="tab-pane fade" id="v-pills-others" role="tabpanel" aria-labelledby="v-pills-others-tab">
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          34. Are you related by consanguinity or affinity to the appointing or recommending authority, or to the chief of bureau or office or to the person who has immediate supervision over you in the Office, Bureau or Department where you will be apppointed,<br>
                          a. within the third degree?<br>
                          b. within the fourth degree (for Local Government Unit - Career Employees)?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseOne" class="card-body collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                      sustainable VHS.
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          35. <br>
                          a. Have you ever been found guilty of any administrative offense? <br>
                          b. Have you been criminally charged before any court?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse card-body" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                      sustainable VHS.
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          36. Have you ever been convicted of any crime or violation of any law, decree, ordinance or regulation by any court or tribunal?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="card-body collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                      sustainable VHS.
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          37. Have you ever been separated from the service in any of the following modes: resignation, retirement, dropped from the rolls, dismissal, termination, end of term, finished contract or phased out (abolition) in the public or private sector?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="card-body collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                      sustainable VHS.
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          38. <br>
                          a. Have you ever been a candidate in a national or local election held within the last year (except Barangay election)? <br>
                          b. Have you resigned from the government service during the three (3)-month period before the last election to promote/actively campaign for a national or local candidate?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="card-body collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                      sustainable VHS.
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingSix">
                      <h5 class="mb-0">
                        <a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          39. Have you acquired the status of an immigrant or permanent resident of another country?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="card-body collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                      sustainable VHS.
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingSeven">
                      <h5 class="mb-0">
                        <a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          40. Pursuant to: (a) Indigenous People's Act (RA 8371); (b) Magna Carta for Disabled Persons (RA 7277); and (c) Solo Parents Welfare Act of 2000 (RA 8972), please answer the following items: <br>
                          a. Are you a member of any indigenous group? <br>
                          b. Are you a person with disability? <br>
                          c. Are you a solo parent?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="card-body collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                      sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ horizontal-layout ] end -->
</div>
<!-- [ Main Content ] end -->

<!-- /.content -->
<div class="modal fade" id="modal-show" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

{% endblock %}

{% block 'script' %}
<script>
  $(document).on('click', '.confirm-delete', function(){
    return confirm('Are you sure you want to remove this?');
  });
  function Basic_Info(){
    $.ajax({
      url: '{% url 'api_main_basic_info' %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#v-pills-basic-info').html(data.html_form);
      },
    });

  };
  function Family_Background(){
    $.ajax({
      url: '{% url 'api_main_family_background' %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#v-pills-family-background').html(data.html_form);
      },
    });

  };
  function Children_Template(){
    $.ajax({
      url: '{% url 'api_main_children' %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#v-pills-children').html(data.profile_children_template);
      },
    });

  };
  function Educational_Background_Template(){
    $.ajax({
      url: '{% url 'api_main_education_background' %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#v-pills-educational-background').html(data.profile_educational_background_template);
      },
    });

  };
  function Eligibility_Template(){
    $.ajax({
      url: '{% url 'api_main_eligibility' %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#v-pills-eligibility').html(data.profile_eligibility_template);
      },
    });

  };
  function Work_Experience_Template(){
    $.ajax({
      url: '{% url 'api_main_work_experience' %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#v-pills-work-experience').html(data.profile_work_experience_template);
      },
    });

  };
  function Voluntary_Work_Template(){
    $.ajax({
      url: '{% url 'api_main_voluntary_work' %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#v-pills-voluntary-work').html(data.profile_voluntary_work_template);
      },
    });
  };
  function Learning_Development_Template(){
    $.ajax({
      url: '{% url 'api_main_learning_development' %}',
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#v-pills-learning-development').html(data.profile_learning_development_template);
      },
    });
  };
  Basic_Info();
  Family_Background();
  Children_Template();
  Educational_Background_Template();
  Eligibility_Template();
  Work_Experience_Template();
  Voluntary_Work_Template();
  Learning_Development_Template();

</script>

{% endblock %}
