{% extends 'procurement/base.html' %}
{% load static %}


{% block 'content' %}
<!-- <div class="col-12">
  <h5>Dashboard</h5>
  <hr>
</div> -->
<div class="col-12">
  <div class="row" id="dashboard_content">


  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5>Pie Charts</h5>
        </div>
        <div class="card-body">
          <div id="pie-chart-1" style="width:100%"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5>Pie Charts</h5>
        </div>
        <div class="card-body">
          <div id="pie-chart-2" style="width:100%"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5>RadialBar Charts</h5>
        </div>
        <div class="card-body">
          <div id="radialBar-chart-1" style="width:100%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Bar chart</h5>
        </div>
        <div class="card-body">
          <div id="bar-chart-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block 'script' %}
<script src="{% static 'premium/assets/js/plugins/apexcharts.min.js'%}"></script>
<script src="{% static 'premium/assets/js/pages/chart-apex.js'%}"></script>
<script src="{% static 'premium/assets/js/pages/dashboard-main.js'%}"></script>
{% endblock %}
