{% extends 'administrator/base.html' %}
{% load static %}

{% block 'content' %}
<div class="col-md-12">
  <h5>Learning & Development</h5>
  <hr>

</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <table>
        <tr>
          <td>Filter</td>
          <td>
            <select class="form-control" name="filter_learning_development" id="filter_learning_development">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
          </td>
          <td>
            <select class="form-control" name="action_learning_development" id="action_learning_development">
              <option>Managerial</option>
              <option>Supervision</option>
              <option>Technical</option>
            </select>
          </td>
        </tr>
      </table>
      <div class="card-header-right">
        <table>
          <tr>
            <td>
              <input type="search" class="form-control float-right mr-1" placeholder="Search...." name="search_learning_development" id="search_learning_development">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table border table-hover">
          <thead>
            <tr>
            <th style="white-space:nowrap;width:1%;">#</th>
            <th style="white-space:nowrap;width:25%;">Name</th>
            <th>Title</th>
            <th style="white-space:nowrap;width:1%;">No Hrs</th>
            <th style="white-space:nowrap;width:1%;">Type</th>
            <th style="white-space:nowrap;width:250px;">Date</th>
          </tr>
          </thead>
          <tbody id="table-learning-development-ajax">
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer" id="counter_learning_development">
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
  function Learning_Development(){
    var filter = $("#filter_learning_development").val();
    var search = $("#search_learning_development").val();
    var action = $("#action_learning_development").val();

    $.ajax({
      url: '{% url 'api_learning_development' %}',
      type: 'get',
      data: {filter:filter,search:search,action:action},
      dataType: 'json',
      success:function(data){
        $('#counter_learning_development').html(data.counter + " record(s) found");
        $('#table-learning-development-ajax').html(data.profile_table);
      },
    });

  };

  $('#filter_learning_development').change(function() {
    Learning_Development();
  });
  $('#search_learning_development').change(function() {
    Learning_Development();
  });
  $('#action_learning_development').change(function() {
    Learning_Development();
  });
  Learning_Development();
</script>

{% endblock %}
