{% for p in services_assistance %}
<tr>
  <td>{{forloop.counter}}</td>
  <td>{{ p.person|upper }}</td>
  <td>
    {% if p.tips_recommended_services_action %}
      {{ p.tips_recommended_services_action.category }}
    {% else %}
      {{ p.get_services_assistance_display|upper}}
    {% endif %}
  </td>
  <td>{% if p.tips_recommended_services_action %}{{ p.tips_recommended_services_action.amount }}{% else %}N/A{% endif %}</td>
  <td>{% if p.tips_recommended_services_action %}{{ p.tips_recommended_services_action.get_mode_assistance_display }}{% else %}N/A{% endif %}</td>
  <td>{{ p.date_created }}</td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}
