{% for p in person_recommended_services %}
<tr>
  <td>{{forloop.counter}}</td>
  <td>
    {{ p.get_services_assistance_display|upper}}
  </td>
  <td>{{ p.specify }}</td>
  <td>{% if p.tips_recommended_services_action %}{{ p.tips_recommended_services_action.category }} <code>({{ p.tips_recommended_services_action.sub_category }})</code>{% endif %}</td>
  <td>{{ p.tips_recommended_services_action.amount }}</td>
  <td>{{ p.tips_recommended_services_action.get_mode_assistance_display }}</td>
  <td>{{ p.date_created }}</td>
  <td>
    <a href="#" type="button" class="btn btn-danger btn-sm" name="button">Remove</a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}
