{% extends 'administrator/base.html' %}
{% load static %}
{% block 'customer_active' %}active{% endblock %}

{% block 'content' %}
<div class="col-md-12">
  <h5>Generate Credits</h5>
  <hr>
  <div class="card mb-3">
    <div class="card-body">
      <label for="">Select Option</label>
      <select class="form-control" name="select_option_generated" id="select_option_generated">
        <option value="1">Manual Generation</option>
        <option value="2">Batch Generation (Designated Employees)</option>
      </select>
    </div>
  </div>
  <div class="card mb-3" id="form">

  </div>
</div>

{% endblock %}


{% block 'script' %}

<script>
  $('#select_option_generated').change(function() {
    console.log('select option');
    filterload();
  });
  function filterload(){
    console.log('trigger');

    var select_option_generated = $('#select_option_generated').val();
    $.ajax({
      url: '{% url 'api_transaction_generated_create' %}',
      data: {select_option_generated:select_option_generated},
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#form').html(data.html_form);
      },
    });

  };
  filterload();
</script>

{% endblock %}
