{% for p in profile %}
<tr>
  <td>
    {% if p.date_from == p.todate %}
    {{p.date_from}}
    {% else %}
    {{p.date_from}}-{{p.date_to}}
    {% endif %}
  </td>
  <td>{{p.title|slice:":50"}}</td>
  <td>{{p.no_hrs}}</td>
  <td>{{p.type_of_ld}}</td>
  <td>
    <button data-url="{% url 'api_main_learning_development_update' p.id %}" type="button" class="btn btn-warning btn-sm form-show-update">Update</button>
    <a href="#" type="button" class="btn btn-danger btn-sm">Remove</a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}

{% block 'script' %}
<script>
  $(document).on('click', '.form-show-update', function(){
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType:'json',
      beforeSend: function(){
        $('#modal-show').modal('show');
      },
      success: function(data){
        $('#modal-show .modal-content').html(data.html_form);
      }
    });
  });
</script>
{% endblock %}
