{% load static %}
<div class="card-header p-2">
  <table>
    <tr>
      <td>Filter</td>
      <td>
        <select class="form-control" name="filter-profile-info-skill-hobbies" id="filter-profile-info-skill-hobbies">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
      </td>
    </tr>
  </table>
  <div class="card-header-right">
    <table>
      <tr>
        <td>
          <button data-url="{% url 'api_main_skill_hobbies_create' %}" type="button" class="btn btn-primary btn-sm form-show-skill-hobbies-create" name="button"><i class="feather icon-user-plus mr-2"></i>New</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="card-body p-0">
  <div class="table-responsive">
    <table class="table">
      <thead style="padding-bottom:2px;">
        <tr>
          <th style="white-space:nowrap;width:1%;">#</th>
          <th>Description</th>
          <th style="white-space:nowrap;width:20%;">Action</th>
        </tr>
      </thead>
      <tbody id="table-profile-info-skill-hobbies">

      </tbody>
    </table>
  </div>
</div>
<div class="card-footer" id="counter-profile-info-skill-hobbies">
</div>

{% block 'script' %}
<script>
  function Children(){
    var filter = $("#filter-profile-info-skill-hobbies").val();
    $.ajax({
      url: '{% url 'api_main_skill_hobbies_list' %}',
      type: 'get',
      data:{filter:filter},
      dataType: 'json',
      success:function(data){
        $('#counter-profile-info-skill-hobbies').html(data.counter + " record(s) found");
        $('#table-profile-info-skill-hobbies').html(data.profile_table);
      },
    });

  };
  Children();

  $(document).on('click', '.form-show-skill-hobbies-create', function(){
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType:'json',
      beforeSend: function(){
        $('#modal-show').modal('show');
      },
      success: function(data){
        $('#modal-show .modal-content').html(data.html_form);
      }
    });
  });
</script>

{% endblock  %}
