{% for p in profile %}
<tr>
  <td>{{forloop.counter}}</td>
  <td>{{p.core_function_output}}</td>
  <td>
    {% for indicator in p.indicator.all %}
    <li>{{indicator.description}}</li>
    {% empty %}
    <li>No Success Indicator Yet</li>
    {% endfor %}
  </td>
  <td><button data-url="{% url 'api_main_accomplishment_update' p.id %}" type="button" class="btn btn-warning btn-sm form-show-update" name="button">Update</button></td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}

{% block 'script' %}
<script>
  $(document).on('click', '.form-show-update', function(){
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType:'json',
      beforeSend: function(){
        $('#modal-show').modal('show');
      },
      success: function(data){
        $('#modal-show .modal-content').html(data.html_form);
      }
    });
  });
</script>
{% endblock %}
