<div class="card mb-2">
  <div class="card-header p-2">
    <h5>Birthday Celebrant (Month)</h5>
  </div>
  {% for p in profile %}
  <div class="card-footer border p-2">
    ({{p.date_of_birth|date:"d"}})
    <img src="{{p.image.url}}" width="40px" height="40px" class=" border border-success rounded-circle img-radius wid-40" alt="User Image">
    <a class="users-list-name text-success" href="#">
      <b>{{p.firstname|upper}} {{p.surname|upper}}</b>
    </a>
    {% if p.date_of_birth|date:"d" == now|date:"d" %}<span class="badge badge-warning">bornday <i class="fa fa-gift mr-1"></i><i class="fa fa-gift mr-1"></i><i class="fa fa-gift"></i></span>{% endif %}
  </div>
  {% empty %}
  <div class="card-footer border p-2">
    Not Available
  </div>
  {% endfor %}
</div>
<div class="card mb-2">
  <div class="card-header p-2">
    <h5>TOP Most Awardee Employee</h5>
  </div>
  {% for p in profile_awardee|slice:"3" %}
  <div class="card-footer p-2">
    <a class="users-list-name text-success" href="#">
      <b>{{p.profile__firstname|upper}} {{p.profile__surname|upper}} ({{p.total}})</b>
    </a>
    <i class="ml-2 fa fa-trophy text-success"></i>
    <i class="fa fa-trophy text-success"></i>
    <i class="fa fa-trophy text-success"></i>
  </div>
  {% endfor %}
</div>
