{% for p in profile %}
<tr>
  <td>{{p.date_from|date:"M d, Y"}}-{{p.date_to|date:"M d, Y"}}</td>
  <td>{{p.description}}</td>
  <td>{{p.get_leave_type_display}}</td>
  <td>{% if p.rejected_transaction %}{{p.rejected_transaction.remarks}}{% else %}{{p.deducted_action_transaction.remarks}}{% endif %}</td>
  <td>{{p.date_created}}</td>
  <td>
    {% if p.deducted_action_transaction %}
      <span class="badge badge-success"><small>APPROVED</small></span>
    {% if p.leave_type == '1' or p.leave_type == '2' or p.leave_type == '3' or p.leave_type == '5' or p.leave_type == '6'%}
    <a href="{% url 'main_self_print_leave_form' p.id %}" target="_blank" class="btn btn-secondary btn-sm rounded-circle"><i class="feather icon icon-printer"></i></a>
    {% endif %}
    {% elif p.rejected_transaction %}
      <span class="badge badge-danger"><small>DISAPPROVED</small></span>
    {% else %}
    <form class="custom-form-remove-leave" data-url ="{% url 'api_main_history_leave_delete_save' p.id %}" method="post">
      <button type="submit" class="btn btn-danger btn-sm rounded-circle confirm-delete"><i class="feather icon icon-trash"></i></button>
    </form>
    {% endif %}
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}


{% block 'script' %}
<script>
  $(document).ready(function () {
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };

    $(".custom-form-remove-leave").submit(function (event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('data-url'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(data){
          Toast.fire({
            type: data.message_type,
            title: data.message_title
          });
          History_leave();
        },
        error:function(error){
          Toast.fire({
            type: 'error',
            title: 'ERROR Connection Lost.'
          });
        },

      })
      return false;
    });

  });

</script>
{% endblock %}
