{% extends 'administrator/base.html' %}
{% load static %}
{% block 'profile_active' %}active{% endblock %}
{% block 'content' %}
<div class="col-md-12">
  <h5>Profile Service Record</h5>
  <hr>
  <div class="card mb-3" id="form">

  </div>
</div>

{% endblock %}


{% block 'script' %}

<script>
  function filterload(){
    $.ajax({
      url: '{% url 'api_profile_detail_service_record_update' %}',
      data:{service_record_id:{{service_record.id}}},
      type: 'get',
      dataType: 'json',
      success:function(data){
        $('#form').html(data.html_form);
      },
    });

  };
  filterload();
</script>

{% endblock %}
