
<html>
{% load static %}
<head>
  <style type="text/css">
  @page {
    size: A4;
    margin-top: 1cm;
    margin-left: 0.75cm;
    margin-right: 0.75cm;
    margin-bottom: 1cm;
    font-family: "Arial";
    font-size: 11px;
    @frame col1_frame {
      left: 44pt; width: 245pt; top: 20pt; height: 800pt;
    }
    @frame col2_frame {             /* Content frame 2 */
        left: 323pt; width: 245pt; top: 20pt; height: 800pt;
    }
    .font-times {
      font-family: "Arial";
      font-size: 11px;
    }
  }
  @media all {
    .page-break { display: none; }
  }

  @media print {
    .page-break { display: block; page-break-before: always; }
  }

</style>
<link rel="stylesheet" href="{% static 'premium/assets/css/style.css'%}">
</head>
<body>
  {% for profile in final %}
  <div class="container">
    <table>
      <tr>
        <td style="text-align: left;"><i>Civil Service Form No. 48</i></td>
      </tr>
      <tr>
        <td  style="text-align: center;"><h1><b>DAILY TIME RECORD</b></h1></td>
      </tr>
      <tr>
        <td  style="text-align: center;">----oOo-----</td>
      </tr>
    </table>
    <table style="margin-top:20px;">
      <tr>
        <td colspan="12" style="text-align: center; font-size:14px; border-bottom:1px solid #000;margin:0;"><b>{{profile.profile.firstname}} {% if profile.profile.middlename %}{{profile.profile.middlename|slice:"1"}}. {% endif %} {{profile.profile.surname}}</b></td>
      </tr>
    </table>
    <table style="margin-top:2px;">
      <tr>
        <td  style="text-align: center;">(Name)</td>
      </tr>
    </table>
    <table style="margin-top:10px;">
      <tr>
        <td colspan="3" style="text-align: left;"><i>For the month of</i></td>
        <td colspan="9" style="border-bottom:0.8px solid #000;"></td>
      </tr>
    </table>
    <table style="margin-top:5px;">
      <tr>
        <td colspan="4" style="text-align: left;"><i>Official hours for arrival</i></td>
        <td colspan="8"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Regular days _______________________</i></td>
      </tr>
    </table>
    <table>
      <tr>
        <td colspan="4" style="text-align: center;"><i>and departure</i></td>
        <td colspan="8"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saturdays _______________________</i></td>
      </tr>
    </table>
    <table style="border:0.2px solid #000;padding-top:3px;text-align:center;">
      <tr style="text-align:center;">
        <td rowspan="2" style="width:30px;">Day</td>
        <td colspan="4"><b>A.M</b></td>
        <td colspan="4"><b>P.M</b></td>
        <td colspan="3">Undertime</td>
      </tr>
      <tr style="text-align:center;">
        <td colspan="2">Arrival</td>
        <td colspan="2">Departure</td>
        <td colspan="2">Arrival</td>
        <td colspan="2">Departure</td>
        <td>Hours</td>
        <td colspan="2">Minutes</td>
      </tr>
      {% for p in profile.attendance %}
      <tr>
        <td style="text-align:center;">{{forloop.counter}}</td>
        {% if p.day_attendance == profile.profile.id %}
        {% if p.day_attendance|length == 1 %}
        {% for d in p.day_attendance %}
        <td colspan="2">{{d.timestamp|date:"g:i a"|upper}}</td>
        {% endfor %}
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        {% elif p.day_attendance|length == 2 %}
        {% for d in p.day_attendance %}
        <td colspan="2">{{d.timestamp|date:"g:i a"|upper}}</td>
        {% endfor %}
        <td colspan="2"></td>
        <td colspan="2"></td>
        {% elif p.day_attendance|length == 3 %}
        {% for d in p.day_attendance %}
        <td colspan="2">{{d.timestamp|date:"g:i a"|upper}}</td>
        {% endfor %}
        <td colspan="2"></td>
        {% elif p.day_attendance|length == 4 %}
        {% for d in p.day_attendance %}
        <td colspan="2">{{d.timestamp|date:"g:i a"|upper}}</td>
        {% endfor %}
        {% elif p.day_attendance|length == 0 %}
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        {% endif %}
        {% endif %}
        <td style="width:50px;"></td>
        <td colspan="2"></td>
      </tr>
      {% endfor %}
      <tr>
        <td style="text-align:right;padding-right:3px;" colspan="9">Total</td>
        <td style="width:50px;"></td>
        <td colspan="2"></td>
      </tr>
    </table>
    <table style="margin-top:10px;">
      <tr>
        <td colspan="12"  style="text-align: left;font-size:10px;"><i>I certify on my honor that the above is a true and correct report of the <br>
hours of work performed, record of which was made daily at the time <br>
 of arrival and departure from office.</i></td>
      </tr>
      <tr>
        <td colspan="12" style="border-bottom:0.5px solid #000;"></td>
      </tr>
      <tr>
        <td colspan="12"  style="text-align: left;font-size:10px;padding-top:2px;"><i>VERIFIED as to the prescribed office hours:</i></td>
      </tr>
      <tr>
        <td colspan="12" style="border-bottom:0.5px solid #000;padding-top:20px;"></td>
      </tr>
      <tr>
        <td colspan="12"  style="text-align: center;font-size:10px;padding-top:2px;"><i>In Charge</i></td>
      </tr>
    </table>

  </div>
  <br>
  <br>
  <div class="container">
    <table>
      <tr>
        <td style="text-align: left;"><i>Civil Service Form No. 48</i></td>
      </tr>
      <tr>
        <td  style="text-align: center;"><h1><b>DAILY TIME RECORD</b></h1></td>
      </tr>
      <tr>
        <td  style="text-align: center;">----oOo-----</td>
      </tr>
    </table>
    <table style="margin-top:20px;">
      <tr>
        <td colspan="12" style="text-align: center; font-size:14px; border-bottom:1px solid #000;margin:0;"><b>{{profile.firstname}} {% if p.middlename %}{{profile.middlename|slice:"1"}}. {% endif %} {{profile.surname}}</b></td>
      </tr>
    </table>
    <table style="margin-top:2px;">
      <tr>
        <td  style="text-align: center;">(Name)</td>
      </tr>
    </table>
    <table style="margin-top:10px;">
      <tr>
        <td colspan="3" style="text-align: left;"><i>For the month of</i></td>
        <td colspan="9" style="border-bottom:0.8px solid #000;"></td>
      </tr>
    </table>
    <table style="margin-top:5px;">
      <tr>
        <td colspan="4" style="text-align: left;"><i>Official hours for arrival</i></td>
        <td colspan="8"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Regular days _______________________</i></td>
      </tr>
    </table>
    <table>
      <tr>
        <td colspan="4" style="text-align: center;"><i>and departure</i></td>
        <td colspan="8"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saturdays _______________________</i></td>
      </tr>
    </table>
    <table style="border:0.2px solid #000;padding-top:3px;text-align:center;">
      <tr style="text-align:center;">
        <td rowspan="2" style="width:30px;">Day</td>
        <td colspan="4"><b>A.M</b></td>
        <td colspan="4"><b>P.M</b></td>
        <td colspan="3">Undertime</td>
      </tr>
      <tr style="text-align:center;">
        <td colspan="2">Arrival</td>
        <td colspan="2">Departure</td>
        <td colspan="2">Arrival</td>
        <td colspan="2">Departure</td>
        <td>Hours</td>
        <td colspan="2">Minutes</td>
      </tr>
      {% for p in profile.attendance %}
      <tr>
        <td style="text-align:center;">{{forloop.counter}}</td>
        {% if p.day_attendance == profile.profile.id %}
        {% if p.day_attendance|length == 1 %}
        {% for d in p.day_attendance %}
        <td colspan="2">{{d.timestamp|date:"g:i a"|upper}}</td>
        {% endfor %}
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        {% elif p.day_attendance|length == 2 %}
        {% for d in p.day_attendance %}
        <td colspan="2">{{d.timestamp|date:"g:i a"|upper}}</td>
        {% endfor %}
        <td colspan="2"></td>
        <td colspan="2"></td>
        {% elif p.day_attendance|length == 3 %}
        {% for d in p.day_attendance %}
        <td colspan="2">{{d.timestamp|date:"g:i a"|upper}}</td>
        {% endfor %}
        <td colspan="2"></td>
        {% elif p.day_attendance|length == 4 %}
        {% for d in p.day_attendance %}
        <td colspan="2">{{d.timestamp|date:"g:i a"|upper}}</td>
        {% endfor %}
        {% elif p.day_attendance|length == 0 %}
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        {% endif %}
        {% endif %}
        <td style="width:50px;"></td>
        <td colspan="2"></td>
      </tr>
      {% endfor %}
      <tr>
        <td style="text-align:right;padding-right:3px;" colspan="9">Total</td>
        <td style="width:50px;"></td>
        <td colspan="2"></td>
      </tr>
    </table>
    <table style="margin-top:10px;">
      <tr>
        <td colspan="12"  style="text-align: left;font-size:10px;"><i>I certify on my honor that the above is a true and correct report of the <br>
hours of work performed, record of which was made daily at the time <br>
 of arrival and departure from office.</i></td>
      </tr>
      <tr>
        <td colspan="12" style="border-bottom:0.5px solid #000;"></td>
      </tr>
      <tr>
        <td colspan="12"  style="text-align: left;font-size:10px;padding-top:2px;"><i>VERIFIED as to the prescribed office hours:</i></td>
      </tr>
      <tr>
        <td colspan="12" style="border-bottom:0.5px solid #000;padding-top:20px;"></td>
      </tr>
      <tr>
        <td colspan="12"  style="text-align: center;font-size:10px;padding-top:2px;"><i>In Charge</i></td>
      </tr>
    </table>

  </div>
  <div class="page-break">
  </div>
  {% endfor %}
</body>
</html>
