<tr>
  <td style="text-align:center;">1</td>
  {% if day1|length == 1 %}
  {% for d in day1 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day1|length == 2 %}
  {% for d in day1 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day1|length == 3 %}
  {% for d in day1 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day1 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">2</td>
  {% if day1|length == 1 %}
  {% for d in day2 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day2|length == 2 %}
  {% for d in day2 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day2|length == 3 %}
  {% for d in day2 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day2 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">3</td>
  {% if day1|length == 1 %}
  {% for d in day3 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day3|length == 2 %}
  {% for d in day3 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day3|length == 3 %}
  {% for d in day3 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day3 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">4</td>
  {% if day1|length == 1 %}
  {% for d in day4 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day4|length == 2 %}
  {% for d in day4 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day4|length == 3 %}
  {% for d in day4 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day4 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">5</td>
  {% if day1|length == 1 %}
  {% for d in day5 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day5|length == 2 %}
  {% for d in day5 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day5|length == 3 %}
  {% for d in day5 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day5 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">6</td>
  {% if day1|length == 1 %}
  {% for d in day6 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day6|length == 2 %}
  {% for d in day6 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day6|length == 3 %}
  {% for d in day6 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day6 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">7</td>
  {% if day1|length == 1 %}
  {% for d in day7 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day7|length == 2 %}
  {% for d in day7 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day7|length == 3 %}
  {% for d in day7 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day7 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">8</td>
  {% if day8|length == 1 %}
  {% for d in day8 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day8|length == 2 %}
  {% for d in day8 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day8|length == 3 %}
  {% for d in day8 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day8 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">9</td>
  {% if day9|length == 1 %}
  {% for d in day9 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day9|length == 2 %}
  {% for d in day9 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day9|length == 3 %}
  {% for d in day9 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day9 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">10</td>
  {% if day10|length == 1 %}
  {% for d in day10 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day10|length == 2 %}
  {% for d in day10 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day10|length == 3 %}
  {% for d in day10 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day10 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">11</td>
  {% if day11|length == 1 %}
  {% for d in day11 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day11|length == 2 %}
  {% for d in day11 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day11|length == 3 %}
  {% for d in day11 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day11 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">12</td>
  {% if day12|length == 1 %}
  {% for d in day12 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day12|length == 2 %}
  {% for d in day12 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day12|length == 3 %}
  {% for d in day12 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day12 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">13</td>
  {% if day13|length == 1 %}
  {% for d in day13 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day13|length == 2 %}
  {% for d in day13 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day13|length == 3 %}
  {% for d in day13 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day13 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">14</td>
  {% if day14|length == 1 %}
  {% for d in day14 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day14|length == 2 %}
  {% for d in day14 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day14|length == 3 %}
  {% for d in day14 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day14 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">15</td>
  {% if day15|length == 1 %}
  {% for d in day15 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day15|length == 2 %}
  {% for d in day15 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day15|length == 3 %}
  {% for d in day15 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day15 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">16</td>
  {% if day16|length == 1 %}
  {% for d in day16 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day16|length == 2 %}
  {% for d in day16 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day16|length == 3 %}
  {% for d in day16 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day16 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">17</td>
  {% if day17|length == 1 %}
  {% for d in day17 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day17|length == 2 %}
  {% for d in day17 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day17|length == 3 %}
  {% for d in day17 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day17 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">18</td>
  {% if day18|length == 1 %}
  {% for d in day18 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day18|length == 2 %}
  {% for d in day18 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day18|length == 3 %}
  {% for d in day18 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day18 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">19</td>
  {% if day19|length == 1 %}
  {% for d in day19 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day19|length == 2 %}
  {% for d in day19 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day19|length == 3 %}
  {% for d in day19 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day19 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">20</td>
  {% if day20|length == 1 %}
  {% for d in day20 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day20|length == 2 %}
  {% for d in day20 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day20|length == 3 %}
  {% for d in day20 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day20 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">21</td>
  {% if day21|length == 1 %}
  {% for d in day21 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day21|length == 2 %}
  {% for d in day21 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day21|length == 3 %}
  {% for d in day21 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day21 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">22</td>
  {% if day22|length == 1 %}
  {% for d in day22 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day22|length == 2 %}
  {% for d in day22 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day22|length == 3 %}
  {% for d in day22 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day22 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">23</td>
  {% if day23|length == 1 %}
  {% for d in day23 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day23|length == 2 %}
  {% for d in day23 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day23|length == 3 %}
  {% for d in day23 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day23 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">24</td>
  {% if day24|length == 1 %}
  {% for d in day24 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day24|length == 2 %}
  {% for d in day24 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day24|length == 3 %}
  {% for d in day24 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day24 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">25</td>
  {% if day25|length == 1 %}
  {% for d in day25 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day25|length == 2 %}
  {% for d in day25 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day25|length == 3 %}
  {% for d in day25 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day25 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">26</td>
  {% if day26|length == 1 %}
  {% for d in day26 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day26|length == 2 %}
  {% for d in day26 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day26|length == 3 %}
  {% for d in day26 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day26 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">27</td>
  {% if day27|length == 1 %}
  {% for d in day27 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day27|length == 2 %}
  {% for d in day27 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day27|length == 3 %}
  {% for d in day27 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day27 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">28</td>
  {% if day28|length == 1 %}
  {% for d in day28 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day28|length == 2 %}
  {% for d in day28 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day28|length == 3 %}
  {% for d in day28 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day28 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">29</td>
  {% if day29|length == 1 %}
  {% for d in day29 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day29|length == 2 %}
  {% for d in day29 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day29|length == 3 %}
  {% for d in day29 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day29 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">30</td>
  {% if day30|length == 1 %}
  {% for d in day30 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day30|length == 2 %}
  {% for d in day30 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day30|length == 3 %}
  {% for d in day30 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day30 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
<tr>
  <td style="text-align:center;">31</td>
  {% if day31|length == 1 %}
  {% for d in day31 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day31|length == 2 %}
  {% for d in day31 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% elif day31|length == 3 %}
  {% for d in day31 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% endfor %}
  <td colspan="2"></td>
  {% else %}
  {% for d in day31 %}
  <td colspan="2">{{d.timestamp|date:"g:i a"}}</td>
  {% empty %}
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  <td colspan="2"></td>
  {% endfor %}
  {% endif %}
  <td style="width:50px;"></td>
  <td colspan="2"></td>
</tr>
