<!doctype html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>SALN</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="ISO-8859-1">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <style type="text/css">
        @page {
            size: 8.5in 13in portrait;
            margin-top: 2cm;
            margin-left: 1cm;
            margin-right: 1cm;
            margin-bottom: 1cm;

            @frame footer_frame2 {
            -pdf-frame-content: footer_content_last2;
            border-color: #fff;
            left: 29pt; width: 555pt; top: 909; height: 15pt;
            }
            @frame header_frame1 {
                -pdf-frame-content: header_content1;
                border-color: #fff;
                left: 29pt; width: 555pt; top: 10pt; height: 90pt;
            }
        }

        @page page_two {
          size: 8.5in 13in portrait;
          margin: 1cm;
          @frame footer_frame2 {
              -pdf-frame-content: footer_content_last2;
              border-color: #fff;
              left: 29pt; width: 555pt; top: 909; height: 15pt;
          }
            /* background-image: url('http://127.0.0.1:8000/media/images/defaultuserprofile.png'); */
        }
        @media all {
        .page-break { display: none; }
        }

        @media print {

        .page-break { display: block; page-break-before: always; }
        }
        .font8 {
          font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
          font-size: 8px;
        }

    </style>
    <link rel="stylesheet" href="..." media="print" />

</head>
<body>

<div class="container">
  <div id="header_content1" class="font8" style="text-align:right;">
    <tr>
      <td colspan="12">Revised as of January 2015</td>
    </tr><br>
    <tr>
      <td colspan="12">Per CSC Resolution No. 1500088</td>
    </tr><br>
    <tr>
      <td colspan="12">Promulgated on January 23, 2015</td>
    </tr>
  </div>

  <pdf:nexttemplate name="page_two" />
  <div class="font8" style="text-align:center;">
    <table>
      <tr>
        <td colspan="12" style="font-size:16px;"><b>SWORN STATEMENT OF ASSETS, LIABILITIES AND NET WORTH</b></td>
      </tr>
      <tr>
        <td colspan="12">as of ________________________</td>
      </tr>
      <tr>
        <td colspan="12">(Required by R.A 6713)</td>
      </tr>
      <tr>
        <td colspan="12"><b>Note</b>: <i>Husband and wife who are both public officials and employees may file the required statements jointly or separately.</i></td>
      </tr>
      <tr style="font-size:10px;">
        <td colspan="3"></td>
        <td colspan="2">(&nbsp;&nbsp;)<i> Joint Filing</i></td>
        <td colspan="2">(&nbsp;&nbsp;)<i> Separate Filing</i></td>
        <td colspan="2">(&nbsp;&nbsp;)<i> Not Applicable</i></td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;text-align:left;padding-left:5px;"><b>DECLARANT :</b></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12" style="border-bottom: 0.5px solid #000;">
                <table>
                  <tr>
                    <td colspan="4" style="padding-top:5px;"><b>{{profile.surname|upper}}</b></td>
                    <td colspan="4" style="padding-top:5px;"><b>{{profile.firstname|upper}}</b></td>
                    <td colspan="4" style="padding-top:5px;"><b>{{profile.middlename|upper}}</b></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;text-align:left;padding-left:5px;"><b>POSITION :</b></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12" style="padding-top:5px;border-bottom: 0.5px solid #000;text-align:left;"><b>{{profile.designation.plantilla.positiontitle|upper}}</b></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;"></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12">
                <table>
                  <tr>
                    <td colspan="4">(Family Name)</td>
                    <td colspan="4">(Firstname)</td>
                    <td colspan="4">(M.I.)</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;text-align:left;padding-left:5px;"><b>AGENCY / OFFICE :</b></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12" style="border-bottom: 0.5px solid #000;text-align:left;padding-top:5px;"><b>{{s.agency_name|upper}}</b></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;text-align:left;padding-left:5px;"><b>ADDRESS :</b></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12" style="border-bottom: 0.5px solid #000;">
                <table>
                  <tr>
                    <td colspan="12" style="text-align:left;padding-top:5px;"><b>{{profile.permanentaddress|upper}}</b></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;text-align:left;padding-left:5px;"><b>OFFICE ADDRESS :</b></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12" style="border-bottom: 0.5px solid #000;text-align:left;padding-top:5px;"><b>{{s.agency_address|upper}}</b></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:13px;text-align:left;padding-left:5px;"><b>SPOUSE :</b></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12" style="border-bottom: 0.5px solid #000;">
                <table>
                  <tr>
                    <td colspan="4" style="padding-top:13px;"><b>{{profile.spousesurname|upper}}</b></td>
                    <td colspan="4" style="padding-top:13px;"><b>{{profile.spousefirstname|upper}}</b></td>
                    <td colspan="4" style="padding-top:13px;"><b>{{profile.spousemiddlename|upper}}</b></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:13px;text-align:left;padding-left:5px;"><b>POSITION :</b></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12" style="padding-top:13px;border-bottom: 0.5px solid #000;text-align:left;"><b>{{profile.spouseoccupation|upper}}</b></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;"></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12">
                <table>
                  <tr>
                    <td colspan="4">(Family Name)</td>
                    <td colspan="4">(Firstname)</td>
                    <td colspan="4">(M.I.)</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;text-align:left;padding-left:5px;"><b>AGENCY / OFFICE :</b></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12" style="border-bottom: 0.5px solid #000;text-align:left;"><b>{{profile.spouseemployer|upper}}</b></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;text-align:left;padding-left:5px;"></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12">
              </td>
            </tr>
          </table>
        </td>
        <td colspan="2">
          <table>
            <tr>
              <td style="padding-top:5px;text-align:left;padding-left:5px;"><b>OFFICE ADDRESS :</b></td>
            </tr>
          </table>
        </td>
        <td colspan="4">
          <table>
            <tr>
              <td colspan="12" style="border-bottom: 0.5px solid #000;text-align:left;"><b>{{profile.spouseemployeraddress|upper}}</b></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="12"></td>
      </tr>
    </table>
    <div style="border-bottom: double black 1px;border-top: double black 1px;padding:-6px;">&nbsp;
    </div>
    <table class="font8">
      <tr>
        <td colspan="12" style="font-size:12px;padding-top:10px;"><b><u>UNMARRIED CHILDREN BELOW EIGHTEEN (18) YEARS OF AGE LIVING IN DECLARANT’S HOUSEHOLD</u></b></td>
      </tr>
    </table>
    <table class="font8">
      <tr style="padding-top:4px;">
        <td colspan="6">
          <table>
            <tr>
              <td colspan="12"><b>NAME</b></td>
            </tr>
          </table>
        </td>
        <td width="5px"></td>
        <td colspan="6">
          <table>
            <tr>
              <td colspan="6"><b>DATE OF BIRTH</b></td>
              <td width="5px"></td>
              <td colspan="6"><b>AGE</b></td>
            </tr>
          </table>
        </td>
      </tr>
      {% if children %}
      {% for c in children %}
      {% if c.age < 18 %}
        <tr>
          <td colspan="6">
            <table>
              <tr>
                <td colspan="12" style="border-bottom: 0.5px solid #000;padding-top: 5px;padding-left:5px;"><b>{{c.firstname|upper}} {{c.middlename|upper|slice:":1"}}. {{c.surname|upper}}</b></td>
              </tr>
            </table>
          </td>
          <td width="5px"></td>
          <td colspan="6">
            <table>
              <tr>
                <td colspan="6" style="border-bottom: 0.5px solid #000;padding-top: 5px;">{{c.dob|date:"m/d/Y"}}</td>
                <td width="5px"></td>
                <td colspan="6" style="border-bottom: 0.5px solid #000;padding-top: 5px;">{{c.age}}</td>
              </tr>
            </table>
          </td>
        </tr>
      {% endif %}
      {% endfor %}
      {% else %}
        <tr style="font-size:10px;">
          <td colspan="6">
            <table>
              <tr>
                <td colspan="12" style="border-bottom: 0.5px solid #000;padding-top: 5px;padding-left:5px;">N/a</td>
              </tr>
            </table>
          </td>
          <td width="5px"></td>
          <td colspan="6">
            <table>
              <tr>
                <td colspan="6" style="border-bottom: 0.5px solid #000;padding-top: 5px;">N/a</td>
                <td width="5px"></td>
                <td colspan="6" style="border-bottom: 0.5px solid #000;padding-top: 5px;">N/a</td>
              </tr>
            </table>
          </td>
        </tr>

      {% endif %}
    </table>
    <table>
      <tr>
        <td colspan="12" style="padding-bottom:10px;"></td>
      </tr>
    </table>
    <div style="border-bottom: double black 1px;border-top: double black 1px;padding:-6px;">&nbsp;
    </div>

  </div>
  <div class="font8" >

  </div>
  <div class="font8" >

  </div>
  <div class="font8" >
  </div>

  <table style="text-align:center;" class="font8">
    <tr>
      <td colspan="12" style="font-size:12px;padding-top:10px;"><b><u>ASSETS, LIABILITIES AND NETWORTH</u></b></td>
    </tr>
    <tr>
      <td colspan="12" style="font-size:10px;"><i>(Including those of the spouse and unmarried children below eighteen (18)</i></td>
    </tr>
    <tr>
      <td colspan="12" style="font-size:10px;"><i>years of age living in declarant’s household)</i></td>
    </tr>
  </table>
  <table class="font8">
    <tr>
      <td style="font-size:12px;text-align:left;"><b>1.  ASSETS</b></td>
    </tr>
    <tr>
      <td style="font-size:12px;text-align:left;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a.  Real Properties*</b></td>
    </tr>
  </table>
  <table class="font8">
    <!-- #A5A5A5 -->
    <tr style="background-color:#A5A5A5;border: 0.5px solid #000;text-align:center;padding-top:3px;">
      <td rowspan="2"><b>DESCRIPTION</b></td>
      <td rowspan="2"><b>KIND</b></td>
      <td rowspan="2"><b>EXACT LOCATION</b></td>
      <td><b>ASSESSED VALUE</b></td>
      <td><b>CURRENT FAIR MARKET VALUE</b></td>
      <td colspan="2"><b>ACQUISITION</b></td>
      <td rowspan="2"><b>ACQUISITION COST</b></td>
    </tr>
    <tr style="background-color:#A5A5A5;border: 0.5px solid #000;text-align:center;padding-top:3px;">
      <td colspan="2" style="font-size:8px;">(As found in the Tax Declaration of Real Property)</td>
      <td><b>YEAR</b></td>
      <td><b>MODE</b></td>
    </tr>
    {% if real_properties %}
    {% for v in real_properties %}
      <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
        <td style="padding-left:3px;">{{v.description}}</td>
        <td style="padding-left:3px;">{{v.kind}}</td>
        <td style="padding-left:3px;">{{v.exact_location}}</td>
        <td style="padding-left:3px;">{{v.assessed_value}}</td>
        <td style="padding-left:3px;">{{v.current_fair_market_value}}</td>
        <td style="padding-left:3px;">{{v.year}}</td>
        <td style="padding-left:3px;">{{v.mode}}</td>
        <td style="padding-left:3px;">{{v.acquisition_cost}}</td>
      </tr>
    {% endfor %}
    {% else %}
    <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
      <td style="padding-left:3px;">N/a</td>
      <td style="padding-left:3px;">N/a</td>
      <td style="padding-left:3px;">N/a</td>
      <td style="padding-left:3px;">N/a</td>
      <td style="padding-left:3px;">N/a</td>
      <td style="padding-left:3px;">N/a</td>
      <td style="padding-left:3px;">N/a</td>
      <td style="padding-left:3px;">N/a</td>
    </tr>
    {% endif %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="text-align:right;font-size:10px;padding-top:5px;"><b>Subtotal</b> :</td>
      <td style="border-bottom:0.5px solid #000;"></td>
    </tr>
    <tr>
      <td colspan="6" style="font-size:10px;"><i>* Additional sheet/s may be used, if necessary.</i></td>
    </tr>
  </table>
  <table class="font8">
    <tr>
      <td style="font-size:12px;text-align:left;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b.  Personal Properties*</b></td>
    </tr>
  </table>
  <table class="font8">
    <!-- #A5A5A5 -->
    <tr style="background-color:#A5A5A5;border: 0.5px solid #000;text-align:center;padding-top:3px;">
      <td colspan="7"><b>DESCRIPTION</b></td>
      <td colspan="4"><b>YEAR ACQUIRED</b></td>
      <td width="95px"><b>ACQUISITION COST / AMOUNT</b></td>
    </tr>
    {% if personal_properties %}
    {% for v in personal_properties %}
      <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
        <td colspan="7" style="padding-left:3px;">{{v.description}}</td>
        <td colspan="4" style="padding-left:3px;">{{v.year}}</td>
        <td width="95px" style="padding-left:3px;">{{v.acquisition_cost}}</td>
      </tr>
    {% endfor %}
    {% else %}
    <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
      <td colspan="7" style="padding-left:3px;">N/a</td>
      <td colspan="4" style="padding-left:3px;">N/a</td>
      <td width="95px" style="padding-left:3px;">N/a</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="7"></td>
      <td colspan="4" style="text-align:right;font-size:10px;padding-top:5px;"><b>Subtotal</b> :</td>
      <td width="95px" style="border-bottom:0.5px solid #000;"></td>
    </tr>
    <tr>
      <td colspan="7"></td>
      <td colspan="4" style="text-align:right;font-size:10px;padding-top:5px;"><b>TOTAL ASSEST (a+b)</b> :</td>
      <td width="95px" style="border-bottom:2px solid #000;"></td>
    </tr>
    <tr>
      <td colspan="6" style="font-size:10px;"><i>* Additional sheet/s may be used, if necessary.</i></td>
    </tr>
  </table>
  <table class="font8">
    <tr>
      <td style="font-size:12px;text-align:left;"><b>2.  LIABILITIES*</b></td>
    </tr>
  </table>
  <table class="font8">
    <!-- #A5A5A5 -->
    <tr style="background-color:#A5A5A5;border: 0.5px solid #000;text-align:center;padding-top:3px;">
      <td colspan="5"><b>NATURE</b></td>
      <td colspan="5"><b>NAME OF CREDITORS</b></td>
      <td colspan="2"><b>OUTSTANDING BALANCE</b></td>
    </tr>
    {% if liabilities %}
    {% for v in liabilities %}
      <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
        <td colspan="5" style="padding-left:3px;">{{nature}}</td>
        <td colspan="5" style="padding-left:3px;">{{name_of_creditors}}</td>
        <td colspan="2" style="padding-left:3px;">{{outstanding_balance}}</td>
      </tr>
    {% endfor %}
    {% else %}
      <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
        <td colspan="5" style="padding-left:3px;">N/a</td>
        <td colspan="5" style="padding-left:3px;">N/a</td>
        <td colspan="2" style="padding-left:3px;">N/a</td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="5"></td>
      <td colspan="5" style="text-align:right;font-size:10px;padding-top:5px;"><b>TOTAL LIABILITIES</b> :</td>
      <td colspan="2" style="border-bottom:0.5px solid #000;"></td>
    </tr>
    <tr>
      <td colspan="10" style="text-align:right;font-size:10px;padding-top:5px;"><b>NET WORTH : Total Assets less Total Liabilities</b> =</td>
      <td colspan="2" style="border-bottom:2px solid #000;"></td>
    </tr>
    <tr>
      <td colspan="6" style="font-size:10px;"><i>* Additional sheet/s may be used, if necessary.</i></td>
    </tr>
  </table>
  <table style="text-align:center;" class="font8">
    <tr>
      <td colspan="12" style="font-size:12px;padding-top:10px;"><b><u>BUSINESS INTERESTS AND FINANCIAL CONNECTIONS</u></b></td>
    </tr>
    <tr>
      <td colspan="12" style="font-size:10px;"><i>(of Declarant /Declarant’s spouse/ Unmarried Children Below Eighteen (18) years of Age Living in Declarant’s Household)</i></td>
    </tr>
    <tr>
      <td colspan="12" style="font-size:12px;">
        {% if business_enterprise %}
          (&nbsp;&nbsp;)
        {% else %}
          (&#10003;)
        {% endif%}
        <i>
           I/We do not have any business interest or financial connection.
        </i>
      </td>
    </tr>
  </table>
  <table class="font8">
    <!-- #A5A5A5 -->
    <tr style="background-color:#A5A5A5;border: 0.5px solid #000;text-align:center;padding-top:3px;">
      <td colspan="3"><b>NAME OF ENTITY/BUSINESS ENTERPRISE</b></td>
      <td colspan="3"><b>BUSINESS ADDRESS</b></td>
      <td colspan="3"><b>NATURE OF BUSINESS INTEREST & /OR FINANCIAL CONNECTION</b></td>
      <td colspan="3"><b>DATE OF ACQUISITION OF INTEREST OR CONNECTION</b></td>
    </tr>
    {% if business_enterprise %}
    {% for v in business_enterprise %}
      <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
        <td colspan="3" style="padding-left:3px;">{{v.business_enterprise}}</td>
        <td colspan="3" style="padding-left:3px;">{{v.business_address}}</td>
        <td colspan="3" style="padding-left:3px;">{{v.nature_of_business}}</td>
        <td colspan="3" style="padding-left:3px;">{{v.date_of_acquisition_of_interest}}</td>
      </tr>
    {% endfor %}
    {% else %}
      <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
        <td colspan="3" style="padding-left:3px;">N/a</td>
        <td colspan="3" style="padding-left:3px;">N/a</td>
        <td colspan="3" style="padding-left:3px;">N/a</td>
        <td colspan="3" style="padding-left:3px;">N/a</td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="6" style="font-size:10px;padding-top:3px;"><i>* Additional sheet/s may be used, if necessary.</i></td>
    </tr>
  </table>
  <table style="text-align:center;" class="font8">
    <tr>
      <td colspan="12" style="font-size:12px;padding-top:10px;"><b><u>RELATIVES IN THE GOVERNMENT SERVICE</u></b></td>
    </tr>
    <tr>
      <td colspan="12" style="font-size:10px;"><i>(Within the Fourth Degree of Consanguinity or Affinity. Include also Bilas, Balae and Inso)</i></td>
    </tr>
    <tr>
      <td colspan="12" style="font-size:12px;">
        {% if relative %}
          (&nbsp;&nbsp;)
        {% else %}
          (&#10003;)
        {% endif%}
        <i>
           I/We do not
          I/We do not know of any relative/s in the government service)
        </i>
      </td>
    </tr>
  </table>
  <table class="font8">
    <!-- #A5A5A5 -->
    <tr style="background-color:#A5A5A5;border: 0.5px solid #000;text-align:center;padding-top:3px;">
      <td colspan="3"><b>NAME OF RELATIVE</b></td>
      <td colspan="2"><b>RELATIONSHIP</b></td>
      <td colspan="1"><b>POSITION</b></td>
      <td colspan="4"><b>NAME OF AGENCY / OFFICE AND ADDRESS</b></td>
    </tr>
    {% if relative %}
    {% for v in relative %}
      <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
        <td colspan="3" style="padding-left:3px;">{{v.name_of_relative}}</td>
        <td colspan="2" style="padding-left:3px;">{{v.relationship}}</td>
        <td colspan="1" style="padding-left:3px;">{{v.position}}</td>
        <td colspan="4" style="padding-left:3px;">{{v.name_of_agency}}</td>
      </tr>
    {% endfor %}

    {% else %}
      <tr style="border: 0.5px solid #000;padding-top:3px;font-size:9px;">
        <td colspan="3" style="padding-left:3px;">N/a</td>
        <td colspan="2" style="padding-left:3px;">N/a</td>
        <td colspan="1" style="padding-left:3px;">N/a</td>
        <td colspan="4" style="padding-left:3px;">N/a</td>
      </tr>

    {% endif %}

    <tr>
      <td colspan="6" style="font-size:10px;padding-top:3px;"><i>* Additional sheet/s may be used, if necessary.</i></td>
    </tr>
  </table>
  <table style="text-align:left;font-size:13px;" class="font8">
    <tr>
      <td colspan="12" style="padding-bottom:3px;"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I hereby certify that these are true and correct statements of my assets, liabilities, net worth, business interests and financial connections, including those of my spouse and unmarried children below eighteen (18) years of age living in my household, and that to the best of my knowledge, the above-enumerated are names of my relatives in the government within the fourth civil degree of consanguinity or affinity. </p></td>
    </tr>
    <tr>
      <td colspan="12"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I hereby authorize the Ombudsman or his/her duly authorized representative to obtain and secure from all appropriate government agencies, including the Bureau of Internal Revenue such documents that may show my assets, liabilities, net worth, business interests and financial connections, to include those of my spouse and unmarried children below 18 years of age living with me in my household covering previous years to include the year I first assumed office in government.</p></td>
    </tr>
  </table>
  <table class="font8" style="padding-top:20px;font-size:13px;">
    <tr>
      <td width="50px">Date</td>
      <td width="130px" style="border-bottom: 0.5px solid #000;">{{now|date:"F d, Y"}}</td>
      <td></td>
    </tr>
  </table>
  <table class="font8">
    <tr>
      <td colspan="12" style="padding-top:20px;"></td>
    </tr>
  </table>

  <table class="font8" style="font-size:10px;">
    <tr>
      <td colspan="6" style="padding-left:5px;">
        <table>
          <tr>
            <td colspan="12" style="border-bottom: 0.5px solid #000;"></td>
          </tr>
        </table>
      </td>
      <td width="50px"></td>
      <td colspan="6" style="padding-right:5px;">
        <table>
          <tr>
            <td colspan="12" style="border-bottom: 0.5px solid #000;"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="text-align: center">
      <td colspan="6" style="padding-left:5px;padding-top:2px;">
        <table>
          <tr>
            <td colspan="12" style=""><i>(Signature of Declarant)</i></td>
          </tr>
        </table>
      </td>
      <td width="50px"></td>
      <td colspan="6" style="padding-right:5px;">
        <table>
          <tr>
            <td colspan="12" style=""><i>(Signature of Co-Declarant/Spouse)</i></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="text-align: left;padding-top:3px;">
      <td colspan="6" style="padding-left:5px;">
        <table>
          <tr>
            <td colspan="4" style="">Government Issued ID:</td>
            <td colspan="8" style="border-bottom: 0.5px solid #000;">{{profile.government_issued_id}}</td>
          </tr>
        </table>
      </td>
      <td width="50px"></td>
      <td colspan="6" style="padding-right:5px;">
        <table>
          <tr>
            <td colspan="4" style="">Government Issued ID:</td>
            <td colspan="8" style="border-bottom: 0.5px solid #000;">{{profile.spouse_government_issued_id}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="text-align: left;padding-top:3px;">
      <td colspan="6" style="padding-left:5px;">
        <table>
          <tr>
            <td colspan="4" style="">ID No:</td>
            <td colspan="8" style="border-bottom: 0.5px solid #000;">{{profile.government_id_no}}</td>
          </tr>
        </table>
      </td>
      <td width="50px"></td>
      <td colspan="6" style="padding-right:5px;">
        <table>
          <tr>
            <td colspan="4" style="">ID No:</td>
            <td colspan="8" style="border-bottom: 0.5px solid #000;">{{profile.spouse_government_id_no}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="text-align: left;padding-top:3px;">
      <td colspan="6" style="padding-left:5px;">
        <table>
          <tr>
            <td colspan="4" style="">Date Issued:</td>
            <td colspan="8" style="border-bottom: 0.5px solid #000;">{{profile.government_date_issued}}</td>
          </tr>
        </table>
      </td>
      <td width="50px"></td>
      <td colspan="6" style="padding-right:5px;">
        <table>
          <tr>
            <td colspan="4" style="">Date Issued:</td>
            <td colspan="8" style="border-bottom: 0.5px solid #000;">{{profile.spouse_government_date_issued}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table style="text-align:left;font-size:13px;padding-top:10px;" class="font8">
    <tr>
      <td colspan="12" style="padding-bottom:3px;"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>SUBSCRIBED AND SWORN</b> to before me this  	 day of  	, affiant exhibiting to me the above-stated government issued identification card.</p></td>
    </tr>
  </table>
  <table class="font8">
    <tr style="padding-top:10px;">
      <td colspan="7"></td>
      <td colspan="5" style="text-align:center;border-bottom: 0.5px solid #000;"></td>
      <td width="40px"></td>
    </tr>
    <tr style="padding-top:3px;">
      <td colspan="7"></td>
      <td colspan="5" style="text-align:center;">(Person Administering Oath)</td>
      <td width="40px"></td>
    </tr>
  </table>

  <div id="footer_content_last2" class="font8" style="text-align:center;opacity:0.5;">
    <td colspan="12" style="padding: 3px; padding-top:2px;"><i style="font-size:10px;">Page <pdf:pagenumber> of <u><pdf:pagecount></u></i></td>
  </div>

</body>
</html>
