{% extends 'administrator/base.html' %}
{% load static %}

{% block 'content' %}
<div class="col-md-12">
  <h5>OPCR</h5>
  <hr>

</div>
<div class="col-md-12">
  <div class="card mb-1">
    <div class="card-header p-2">
      <table>
        <tr>
          <td>Filter</td>
          <td>
            <select class="form-control" name="filter_accomplishment_indicator" id="filter_accomplishment_indicator">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table border table-hover">
          <thead>
            <tr>
              <th style="white-space:nowrap;width:1%;">#</th>
              <th>Name</th>
              <th>Accomplishment</th>
              <th>Indicator</th>
            </tr>
          </thead>
          <tbody id="table-accomplishment-indicator-ajax">
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer" id="counter_accomplishment_indicator">
    </div>
  </div>
</div>
<div class="modal fade" id="modal-show" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
  $(document).on('click', '.confirm-delete-indicator', function(){
    return confirm('Are you sure you want to remove this?');
  });
  function Accomplishment_Indicator(){
    var filter = $("#filter_accomplishment_indicator").val();
    $.ajax({
      url: '{% url 'api_accomplishment_indicator' %}',
      type: 'get',
      data: {filter:filter},
      dataType: 'json',
      success:function(data){
        $('#counter_accomplishment_indicator').html(data.counter + " record(s) found");
        $('#table-accomplishment-indicator-ajax').html(data.profile_table);
      },
    });

  };

  $('#filter_accomplishment_indicator').change(function() {
    Accomplishment_Indicator();
  });
  $('#year_accomplishment_indicator').change(function() {
    Accomplishment_Indicator();
  });
  Accomplishment_Indicator();
</script>

{% endblock %}
