{% extends 'administrator/base.html' %}
{% load static %}
{% block 'link' %}
<link rel="stylesheet" href="{% static 'premium/assets/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}">
{% endblock %}
{% block 'content' %}
<div class="col-md-12">
  <h5>Activity Logs</h5>
  <hr>
  <div class="card mb-3">
    <div class="card-header p-2">
      <table>
        <tr>
          <td>Filter</td>
          <td>
            <select class="form-control" name="filter" id="filter">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
          </td>
          <td style="padding-left:20px;"><b>Date :</b></td>
          <td style="padding-left:5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input type="text" class="form-control pull-right" id="datepicker1">
              <!-- <input type="text" class="form-control float-right" id="reservation"> -->
            </div>
          </td>
          <td style="padding-left:5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input type="text" class="form-control pull-right" id="datepicker2">
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-body table-border-style p-2">
      <div class="table-responsive table-sm">
        <table class="table border table-hover">
          <thead>
            <tr>
              <th width="15%">Date</th>
              <th>Name</th>
              <th>Detail</th>
              <th width="5%">User</th>
            </tr>
          </thead>
          <tbody id="table-notification-ajax">
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer p-2" id="counter">
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script src="{% static 'premium/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>
<script>
  var $datepicker1 = $('#datepicker1');
  $datepicker1.datepicker({
    autoclose: true,
    format : 'yyyy-mm-dd',
  });
  $datepicker1.datepicker('setDate', new Date());

  var $datepicker2 = $('#datepicker2');
  $datepicker2.datepicker({
    autoclose: true,
    format : 'yyyy-mm-dd',
  });
  $datepicker2.datepicker('setDate', new Date());

  var $datepicker3 = $('#datepicker3');
  $datepicker3.datepicker({
    autoclose: true,
    format : 'yyyy-mm-dd',
  });
  $datepicker3.datepicker('setDate', new Date());

  var $datepicker4 = $('#datepicker4');
  $datepicker4.datepicker({
    autoclose: true,
    format : 'yyyy-mm-dd',
  });
  $datepicker4.datepicker('setDate', new Date());

  function filterload(){
    var filter = $("#filter").val();
    var datepicker1 = $("#datepicker1").val();
    var datepicker2 = $("#datepicker2").val();

    $.ajax({
      url: '{% url 'api_audit_log' %}',
      type: 'get',
      data: {filter:filter,datepicker1:datepicker1,datepicker2:datepicker2},
      dataType: 'json',
      success:function(data){
        $('#counter').html(data.counter + " record(s) found");
        $('#table-notification-ajax').html(data.notification_table);
      },
    });

  };

  $('#filter').change(function() {
    filterload();
  });
  $('#datepicker1').change(function() {
    filterload();
  });
  $('#datepicker2').change(function() {
    filterload();
  });
  filterload();
</script>

{% endblock %}
