{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>S P R I N G</title>
  <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 11]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'%}"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="keywords" content="">
  <meta name="author" content="Codedthemes" />
  <!-- Favicon icon -->
  <link rel="icon" href="{% static 'icon/lgutubodlogo.png'%}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'premium/assets/sweetalert2/sweetalert2.min.css'%}">
  <!-- vendor css -->
  <link rel="stylesheet" href="{% static 'premium/assets/css/style.css'%}">

  {% block 'link' %}

  {% endblock %}

</head>
<body class="">
  <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->
  <!-- [ navigation menu ] start -->
  <nav class="pcoded-navbar menupos-fixed menu-dark ">
    <div class="navbar-wrapper  ">
      <div class="navbar-content scroll-div " >
        <ul class="nav pcoded-inner-navbar ">
          <li class="nav-item pcoded-menu-caption">
            <label>Navigation</label>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
          </li>
          <li class="nav-item {% block 'profile_active' %}{% endblock %}">
            <a href="{% url 'profile' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Profile</span></a>
          </li>
          <li class="nav-item {% block 'designation_active' %}{% endblock %}">
            <a href="{% url 'designation' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-briefcase"></i></span><span class="pcoded-mtext">Designation</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'learning_development' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-activity"></i></span><span class="pcoded-mtext">Trainings</span></a>
          </li>
          <li class="nav-item {% block 'reward_active' %}{% endblock %}">
            <a href="{% url 'rewards_recognitions' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-award"></i></span><span class="pcoded-mtext">Reward & Recognition</span></a>
          </li>
          <li class="nav-item pcoded-hasmenu">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-folder"></i></span><span class="pcoded-mtext">IPCR & OPCR</span> <span class="badge badge-danger">New</span></a>
              <ul class="pcoded-submenu">
                <li><a href="{% url 'accomplishment' %}">Accomplishment</a></li>
                <li><a href="{% url 'accomplishment_ipcr' %}">IPCR (Individual)</a></li>
                <li><a href="{% url 'accomplishment_opcr' %}">OPCR (Office)</a></li>
                <!-- <li><a href="#">Semester</a></li> -->
                <li><a href="{% url 'accomplishment_year' %}">Year</a></li>
              </ul>
					</li>
          <li class="nav-item">
            <a href="{% url 'retirables' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-x"></i></span><span class="pcoded-mtext">Retirables</span></a>
          </li>
          <li class="nav-item pcoded-menu-caption">
            <label>Others</label>
          </li>
          <li class="nav-item {% block 'transaction_active' %}{% endblock %}">
            <a href="{% url 'transaction' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file"></i></span><span class="pcoded-mtext">Transaction</span> <span class="badge badge-danger">New</span></a>
          </li>
          <!-- <li class="nav-item">
            <a href="{% url 'dtr_print' %}" target="_blank" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file"></i></span><span class="pcoded-mtext">Attendance Records</span></a>
          </li> -->
          <li class="nav-item pcoded-hasmenu">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-folder"></i></span><span class="pcoded-mtext">Utilities</span></a>
					    <ul class="pcoded-submenu">
                <li><a href="{% url 'department' %}">Department</a></li>
                <li><a href="{% url 'internet_ticket' %}">Internet Ticket</a></li>
                <li><a href="{% url 'settings' %}">Settings</a></li>
					    </ul>
					</li>
          <li class="nav-item">
            <a href="{% url 'audit_logs' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-activity"></i></span><span class="pcoded-mtext">Activity Logs</span></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-log-out text-danger"></i></span><span class="pcoded-mtext">Sign Out</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- [ navigation menu ] end -->
  <!-- [ Header ] start -->
  <header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-yellow">


    <div class="m-header">
      <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
      <a href="{% url 'dashboard' %}" class="b-brand text-center">
        <!-- ========   change your logo hear   ============ -->
        <!-- <i class="feather icon-monitor mr-2"></i> -->
        GOVPH | <b>&nbsp;&nbsp;S P R I N G H R I S</b>
        <!-- <img src="{% static 'premium/assets/images/logo.png'%}" alt="" class="logo">
        <img src="{% static 'premium/assets/images/logo-icon.png'%}" alt="" class="logo-thumb"> -->
      </a>
      <a href="#!" class="mob-toggler">
        <i class="feather icon-more-vertical"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {% block 'add_new' %}

          {% endblock %}
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon feather icon-layers"></i></a>
            <div class="dropdown-menu dropdown-menu-right notification">
              <div class="noti-head">
                <h6 class="d-inline-block m-b-0">My Apps</h6>
              </div>
              <ul class="pro-body">
                <li class="notification">
                  <a href="{% url 'main_home' %}" type="button" class="btn btn-outline-primary" name="button"><i class="icon feather icon-home"></i><br>SPRING HRIS</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>


  </header>
  <!-- [ Header ] end -->



  <!-- [ Main Content ] start -->
  <div class="pcoded-main-container">
    <div class="pcoded-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        {% block 'content' %}
        {% endblock %}
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLiveLabel">Modal Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>Woohoo, you're reading this text in a modal!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn  btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Warning Section Ends -->

  <!-- Required Js -->
  <script src="{% static 'premium/assets/js/vendor-all.min.js'%}"></script>
  <script src="{% static 'premium/assets/js/plugins/bootstrap.min.js'%}"></script>
  <script src="{% static 'premium/assets/js/pcoded.min.js'%}"></script>

  <!-- Apex Chart -->
  <script src="{% static 'premium/assets/js/plugins/apexcharts.min.js'%}"></script>
  <script src="{% static 'premium/assets/sweetalert2/sweetalert2.min.js'%}"></script>
  <script type="text/javascript">
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });
  </script>

  {% block 'script' %}
  {% endblock %}

  <!-- custom-chart js -->

</body>

</html>
