{% extends 'administrator/base.html' %}
{% load static %}

{% block 'content' %}
<div class="col-md-12">
  <h5>Retirables</h5>
  <hr>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header border p-2">
      <table>
        <tr>
          <td><span class="badge badge-secondary" id="counter_male"></span></td>
          <td><span class="badge badge-secondary" id="counter_female"></span></td>
        </tr>
      </table>
    </div>
    <div class="card-header p-2">
      <table>
        <tr>
          <td>Filter</td>
          <td>
            <select class="form-control" name="filter_retirables" id="filter_retirables">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
          </td>
        </tr>
      </table>
      <div class="card-header-right">
        <table>
          <tr>
            <td>
              <input type="text" class="form-control float-right mr-1" placeholder="Search...." name="search_retirables" id="search_retirables" value="">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover m-b-0">
          <thead>
            <tr>
              <th style="white-space:nowrap;width:1%;">#</th>
              <th style="white-space:nowrap;width:25%;">Name</th>
              <th>Designation</th>
              <th style="white-space:nowrap;width:10%;">Birthdate</th>
              <th style="white-space:nowrap;width:1%;">Age</th>
            </tr>
          </thead>
          <tbody id="table-retirables-ajax">
          </tbody>
        </table>
      </div>
      <div class="card-footer p-2" id="counter_retirables">
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
  function Retirables(){
    var filter = $("#filter_retirables").val();
    var search = $("#search_retirables").val();

    $.ajax({
      url: '{% url 'api_retirables' %}',
      type: 'get',
      data: {filter:filter,search:search},
      dataType: 'json',
      success:function(data){
        $('#counter_retirables').html(data.counter + " record(s) found");
        $('#counter_male').html("Male (" + data.counter_male + ")");
        $('#counter_female').html("Female (" + data.counter_female + ")");
        $('#table-retirables-ajax').html(data.profile_table);
      },
    });

  };

  $('#filter_retirables').change(function() {
    Retirables();
  });
  $('#search_retirables').change(function() {
    Retirables();
  });
  Retirables();
</script>

{% endblock %}
