{% extends 'administrator/base.html' %}
{% load static %}
{% block 'link' %}
<link rel="stylesheet" href="{% static 'premium/assets/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}">
{% endblock %}
{% block 'content' %}
<div class="col-md-12">
  <h5>Transaction</h5>
  <hr>
</div>
<div class="col-md-12">
  <div class="card mb-1">
    <div class="card-header p-0 border border-success">
      <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-request-pending-tab" data-toggle="pill" href="#pills-request-pending" role="tab" aria-controls="pills-request-pending" aria-selected="true"><i class="feather icon-file m-r-5"></i> Request/Pending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-approved-tab" data-toggle="pill" href="#pills-approved" role="tab" aria-controls="pills-approved" aria-selected="false"><i class="feather icon-file m-r-5"></i> Approved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-rejected-tab" data-toggle="pill" href="#pills-rejected" role="tab" aria-controls="pills-rejected" aria-selected="false"><i class="feather icon-file m-r-5"></i> Disapproved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-generated-tab" data-toggle="pill" href="#pills-generated" role="tab" aria-controls="pills-generated" aria-selected="false"><i class="feather icon-file m-r-5"></i> Generate</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-request-pending" role="tabpanel" aria-labelledby="pills-request-pending-tab">
      <div class="card">
        <div class="card-header p-2">
          <table>
            <tr>
              <td>Filter</td>
              <td>
                <select class="form-control" name="filter_transaction_request_pending" id="filter_transaction_request_pending">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </td>
            </tr>
          </table>
          <div class="card-header-right">
            <table>
              <tr>
                <td>
                  <input type="search" class="form-control float-right mr-1" placeholder="Search...." name="search_transaction_request_pending" id="search_transaction_request_pending" value="">
                </td>
                <td>
                  <a href="{% url 'transaction_request_pending_create' %}" type="button" class="btn btn-primary btn-sm" name="button">Apply Leave</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover m-b-0">
              <thead>
                <tr>
                  <th style="white-space:nowrap;width:1%;">Date Range</th>
                  <th style="white-space:nowrap;width:25%;">Name</th>
                  <th>Description</th>
                  <th>Type</th>
                  <th>Date Applied</th>
                  <th style="white-space:nowrap;width:100px;">Action</th>
                </tr>
              </thead>
              <tbody id="table-transaction-request-pending-ajax">
              </tbody>
            </table>
          </div>
          <div class="card-footer p-2" id="counter_transaction_request_pending">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-approved" role="tabpanel" aria-labelledby="pills-approved-tab">
      <div class="card">
        <div class="card-header p-2">
          <table>
            <tr>
              <td>Filter</td>
              <td>
                <select class="form-control" name="filter" id="filter_transaction_approved">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </td>
              <td style="padding-left:20px;"><b>Date :</b></td>
              <td style="padding-left:5px;">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control pull-right" id="datepicker1">
                  <!-- <input type="text" class="form-control float-right" id="reservation"> -->
                </div>
              </td>
              <td style="padding-left:5px;">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control pull-right" id="datepicker2">
                </div>
              </td>
            </tr>
          </table>
          <div class="card-header-right">
            <table>
              <tr>
                <td>
                  <input type="search" class="form-control float-right mr-1" placeholder="Search...." name="search_transaction_approved" id="search_transaction_approved" value="">
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover m-b-0">
              <thead>
                <tr>
                  <th style="white-space:nowrap;width:1%;">Date Range</th>
                  <th style="white-space:nowrap;width:25%;">Name</th>
                  <th>Description</th>
                  <th style="white-space:nowrap;width:5%;">No Days</th>
                  <th>Type</th>
                  <th style="white-space:nowrap;width:100px;">Date Approved</th>
                </tr>
              </thead>
              <tbody id="table-transaction-approved-ajax">
              </tbody>
            </table>
          </div>
          <div class="card-footer p-2" id="counter_transaction_approved">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-rejected" role="tabpanel" aria-labelledby="pills-rejected-tab">
      <div class="card">
        <div class="card-header p-2">
          <table>
            <tr>
              <td>Filter</td>
              <td>
                <select class="form-control" name="filter" id="filter_transaction_rejected">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </td>
            </tr>
          </table>
          <div class="card-header-right">
            <table>
              <tr>
                <td>
                  <input type="search" class="form-control float-right mr-1" placeholder="Search...." name="search_transaction_rejected" id="search_transaction_rejected" value="">
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover m-b-0">
              <thead>
                <tr>
                  <th style="white-space:nowrap;width:1%;">Date Range</th>
                  <th style="white-space:nowrap;width:25%;">Name</th>
                  <th>Description</th>
                  <th>Type</th>
                  <th style="white-space:nowrap;width:5%;">Remarks</th>
                  <th>Date Rejected</th>
                </tr>
              </thead>
              <tbody id="table-transaction-rejected-ajax">
              </tbody>
            </table>
          </div>
          <div class="card-footer p-2" id="counter_transaction_rejected">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-generated" role="tabpanel" aria-labelledby="pills-generated-tab">
      <div class="card">
        <div class="card-header p-2">
          <table>
            <tr>
              <td>Filter</td>
              <td>
                <select class="form-control" name="filter" id="filter_transaction_generated">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </td>
            </tr>
          </table>
          <div class="card-header-right">
            <table>
              <tr>
                <td>
                  <input type="search" class="form-control float-right mr-1" placeholder="Search...." name="search_transaction_generated" id="search_transaction_generated" value="">
                </td>
                <td>
                  <a href="{% url 'transaction_generated_create' %}" type="button" class="btn btn-primary btn-sm" name="button">Generate</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover m-b-0">
              <thead>
                <tr>
                  <th style="white-space:nowrap;width:25%;">Name</th>
                  <th>Remarks</th>
                  <th style="white-space:nowrap;width:5%;">No Days</th>
                  <th>Type</th>
                  <th>Date Created</th>
                </tr>
              </thead>
              <tbody id="table-transaction-generated-ajax">
              </tbody>
            </table>
          </div>
          <div class="card-footer p-2" id="counter_transaction_generated">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script src="{% static 'premium/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>
<script>
  var $datepicker1 = $('#datepicker1');
  $datepicker1.datepicker({
    autoclose: true,
    format : 'yyyy-mm-dd',
  });
  $datepicker1.datepicker('setDate', new Date());

  var $datepicker2 = $('#datepicker2');
  $datepicker2.datepicker({
    autoclose: true,
    format : 'yyyy-mm-dd',
  });
  $datepicker2.datepicker('setDate', new Date());

  function Transaction_Request_Pending(){
    var filter = $("#filter_transaction_request_pending").val();
    var search = $("#search_transaction_request_pending").val();

    $.ajax({
      url: '{% url 'api_transaction_request_pending' %}',
      type: 'get',
      data: {filter:filter,search:search},
      dataType: 'json',
      success:function(data){
        $('#counter_transaction_request_pending').html(data.counter + " record(s) found");
        $('#table-transaction-request-pending-ajax').html(data.profile_table);
      },
    });

  };
  $('#filter_transaction_request_pending').change(function() {
    Transaction_Request_Pending();
  });
  $('#search_transaction_request_pending').change(function() {
    Transaction_Request_Pending();
  });
  Transaction_Request_Pending();

  function Transaction_Approved(){
    var filter = $("#filter_transaction_approved").val();
    var search = $("#search_transaction_approved").val();
    var datepicker1 = $("#datepicker1").val();
    var datepicker2 = $("#datepicker2").val();

    $.ajax({
      url: '{% url 'api_transaction_approved' %}',
      type: 'get',
      data: {filter:filter,search:search,datepicker1:datepicker1,datepicker2:datepicker2},
      dataType: 'json',
      success:function(data){
        $('#counter_transaction_approved').html(data.counter + " record(s) found");
        $('#table-transaction-approved-ajax').html(data.profile_table);
      },
    });

  };
  $('#filter_transaction_approved').change(function() {
    Transaction_Approved();
  });
  $('#search_transaction_approved').change(function() {
    Transaction_Approved();
  });
  $('#datepicker1').change(function() {
    Transaction_Approved();
  });
  $('#datepicker2').change(function() {
    Transaction_Approved();
  });
  Transaction_Approved();

  function Transaction_Rejected(){
    var filter = $("#filter_transaction_rejected").val();
    var search = $("#search_transaction_rejected").val();

    $.ajax({
      url: '{% url 'api_transaction_rejected' %}',
      type: 'get',
      data: {filter:filter,search:search},
      dataType: 'json',
      success:function(data){
        $('#counter_transaction_rejected').html(data.counter + " record(s) found");
        $('#table-transaction-rejected-ajax').html(data.profile_table);
      },
    });

  };
  $('#filter_transaction_rejected').change(function() {
    Transaction_Rejected();
  });
  $('#search_transaction_rejected').change(function() {
    Transaction_Rejected();
  });
  Transaction_Rejected();

  function Transaction_Generated(){
    var filter = $("#filter_transaction_generated").val();
    var search = $("#search_transaction_generated").val();

    $.ajax({
      url: '{% url 'api_transaction_generated' %}',
      type: 'get',
      data: {filter:filter,search:search},
      dataType: 'json',
      success:function(data){
        $('#counter_transaction_generated').html(data.counter + " record(s) found");
        $('#table-transaction-generated-ajax').html(data.profile_table);
      },
    });

  };
  $('#filter_transaction_generated').change(function() {
    Transaction_Generated();
  });
  $('#search_transaction_generated').change(function() {
    Transaction_Generated();
  });
  Transaction_Generated();
</script>

{% endblock %}
