{% load imagefit %}
{% for p in profile %}
<tr>
  <td>{{forloop.counter}}</td>
  <td>
    {% if p.designation %}
      {{p.designation.profile|upper}}
    {% else %}
      <b class="text-danger">VACANT</b>
    {% endif %}</td>
  <td>{{p.positiontitle|upper}}</td>
  <td>{{p.get_status_display}}</td>
  <td>
    {% if p.designation %}
    {% if p.designation.stepInc > 20 %}
    8
    {% elif p.designation.stepInc > 17 %}
    7
    {% elif p.designation.stepInc > 14 %}
    6
    {% elif p.designation.stepInc > 11 %}
    5
    {% elif p.designation.stepInc > 8 %}
    4
    {% elif p.designation.stepInc > 5 %}
    3
    {% elif p.designation.stepInc > 2 %}
    2
    {% elif p.designation.stepInc > -1 %}
    1
    {% endif %}
    {% else %}
    <b class="text-danger">VACANT</b>
    {% endif %}
  </td>
  <td>{% if p.designation %}{{p.designation.date_appointed}}{% else %}<b class="text-danger">VACANT</b>{% endif %}</td>
  <td>
    {% if p.designation %}
    <form data-url="{% url 'api_designation_designated_delete_save' p.designation.id %}" method="post" class="d-inline-block custom-form">
      <button type="submit" class="btn btn-danger btn-sm confirm-delete">Remove</button>
    </form>
    {% else %}
    <a href="{% url 'designation_designated_create' p.id %}" type="button" class="btn btn-primary btn-sm">Assign</a>
    {% endif %}
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}

{% block 'script' %}
<script>
  $(document).ready(function () {
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };

    $(".custom-form").submit(function (event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('data-url'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(data){
          Toast.fire({
            type: data.message_type,
            title: data.message_title
          });
          Designated();
        },
        error:function(error){
          Toast.fire({
            type: 'error',
            title: 'ERROR Connection Lost.'
          });
        },

      })
      return false;
    });

  });

</script>
{% endblock %}
